<template>
  <div>
    <PlayerHeader :player="player" />
    <v-tabs
      v-model="currentTab"
      align-with-title
    >
      <v-tabs-slider></v-tabs-slider>
      <v-tab
        v-for="tab in tabs"
        :key="tab.name"
      >
        {{ tab.name }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="currentTab">
      <v-tab-item
        v-for="tab in tabs"
        :key="tab.name"
      >
        <component v-if="tab.enabled" v-bind:is="tab.component" v-bind="tab.props"></component>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
// Components
import PlayerHeader from '@/components/football/players/utils/PlayerHeader.vue'
import TransferGrid from '@/components/football/players/TransferGrid.vue'
import PlayerStatistics from '@/components/football/players/PlayerStatistics.vue'
import TrophieTable from '@/components/football/trophies/TrophieTable.vue'
import SidelinedTable from '@/components/football/sidelined/SidelinedTable.vue'

// API
import PlayersService from '@/api/logic/players/players'
import TransfersService from '@/api/logic/players/transfers'
import TrophiesService from '@/api/logic/trophies/trophies'
import SidelinedService from '@/api/logic/sidelined/sidelined'

const playersService = new PlayersService()
const transfersService = new TransfersService()
const trophiesService = new TrophiesService()
const sidelinedService = new SidelinedService()

export default {
  name: 'Player',
  components: { PlayerHeader, TransferGrid, PlayerStatistics, TrophieTable, SidelinedTable },
  data: () => ({
    currentTab: 0,
    player: null,
    statistics: [],
    transfers: [],
    trophies: [],
    sidelined: []
  }),
  computed: {
    tabs () {
      return [
        { name: this.$t('views.football.players.player.tabs.statistics'), component: PlayerStatistics, props: { statistics: this.statistics }, enabled: this.statistics.length },
        { name: this.$t('views.football.players.player.tabs.transfers'), component: TransferGrid, props: { transferList: this.transfers }, enabled: this.transfers.length },
        { name: this.$t('views.football.players.player.tabs.trophies'), component: TrophieTable, props: { trophies: this.trophies }, enabled: this.trophies.length },
        { name: this.$t('views.football.players.player.tabs.sidelined'), component: SidelinedTable, props: { sidelined: this.sidelined }, enabled: this.sidelined.length }
      ]
    }
  },
  mounted () {
    playersService.getPlayerById(this.$route.params.playerId, this.$route.params.season)
      .then(response => {
        this.player = response.data.response[0].player
        this.statistics = response.data.response[0].statistics
        this.getTransfers(this.player.id)
        this.getTrophies(this.player.id)
        this.getSidelined(this.player.id)
      })
      .catch(error => console.error(error))
  },
  methods: {
    getTransfers (playerId) {
      transfersService.getTransfersByPlayer(playerId)
        .then(response => {
          this.transfers = response.data.response[0].transfers
        })
        .catch(error => console.error(error))
    },

    getTrophies (playerId) {
      trophiesService.getTrophiesByPlayer(playerId)
        .then(response => {
          this.trophies = response.data.response
        })
        .catch(error => console.error(error))
    },

    getSidelined (playerId) {
      sidelinedService.getSidelinedByPlayer(playerId)
        .then(response => {
          this.sidelined = response.data.response
        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
