<template>
  <v-card class="country-card" @click="routeTo(`/countries/${country.name}`)">
    <div class="image-container">
      <img class="country-image" :src="country.flag">
    </div>
    <v-card-title class="country-data">
      <p class="country-name">{{country.name}}</p>
      <p class="country-code">{{country.code}}</p>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: 'CountryCard',
  props: {
    country: Object
  },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.country {
  &-card {
    display: flex;
    flex-direction: column;
    transition: all 200ms;
  }

  &-data {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &-name {
    margin: 0.5rem 1rem;
    text-align: center;
    font-weight: bold;
    word-break: keep-all;
    font-size: 1.5rem;
  }
  &-code {
    margin: 0.5rem 1rem;
    font-size: 1rem;
  }

  &-image {
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; width: 100%;
    padding: 1rem;
}

.country-card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}
</style>
