<template>
  <div class="country-header-container">
    <div class="country-image-container">
      <img class="country-flag" :src="country.flag" :alt="country.code">
    </div>
    <div class="country-data">
      <p class="country-name">{{country.name}}</p>
      <p class="country-code">{{$t('components.football.countries.utils.CountryHeader.code', {code: country.code})}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CountryHeader',
  props: { country: Object }
}
</script>

<style lang="scss" scoped>
.country {
  &-header-container {
    display: flex;
    flex-direction: row;
    p { margin: 0; }
  }

  &-flag {
    display: block;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  }

  &-image-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 300px; max-width: 400px;
    padding: 1rem;
  }

  &-data {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
  }

  &-name {
    font-size: 3rem;
    font-weight: bold;
  }

  &-code {
    font-size: 1.5rem;
    color: $textgrey;
  }
}
</style>
