<template>
  <div class="country-leagues-container">
    <div v-if="country" class="country-header">
      <div class="country">
        <img class="country-image" :src="country.flag">
        <div class="country-info">
          <p class="country-name">{{country.name}}</p>
          <p class="country-code">{{country.code}}</p>
        </div>
      </div>
    </div>
    <div v-if="leagues" class="country-leagues-grid">
      <LeagueGrid :leagues="leagues"/>
    </div>
  </div>
</template>

<script>
import LeagueGrid from '@/components/football/leagues/LeagueGrid.vue'

export default {
  name: 'CountryLeagues',
  components: { LeagueGrid },
  props: {
    country: Object,
    leagues: Array
  }
}
</script>

<style lang="scss" scoped>
.country-leagues-container {
  display: flex;
  flex-direction: column;
}
.country {
  display: flex;
  flex-direction: row;
  p {
    margin: 0;
  }
  &-header {
    display: flex;
    flex-direction: row;
    background-color: $lightgrey;
  }
  &-image {
    height: 4rem; width: 4rem;
    padding: 0.3rem;
    margin: 0 1rem;
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &-name {
    font-weight: bold;
  }
  &-code {}
}
</style>
