<template>
  <div class="country-grid-container">
    <div class="country-toolbar-container">
      <div class="country-toolbar">
        <!-- <v-toolbar-title>Country selection</v-toolbar-title> -->
        <v-text-field
          v-model="search"
          :loading="loading"
          append-icon="mdi-magnify"
          :label="$t('components.football.countries.countryGrid.textFieldLabel')"
        ></v-text-field>
      </div>
    </div>
    <div>
      <div v-if="pages.length" class="country-grid">
        <CountryCard class="country-card" v-for="(country, index) in pages" :key="index" :country='country' />
      </div>
      <div v-else class="no-data">
        <p>{{$t('error.notFound')}}</p>
      </div>
    </div>
    <div class="pagination">
      <v-pagination
        v-model="page"
        :length="pagesLength"
        :total-visible="totalVisiblePages"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import CountryCard from '@/components/football/countries/utils/CountryCard.vue'

export default {
  name: 'CountryGrid',
  components: { CountryCard },
  props: {
    countries: Array
  },
  data () {
    return {
      loading: false,
      items: [],
      search: '',
      page: 1,
      itemsPerPage: 24,
      totalVisiblePages: 7
    }
  },
  computed: {
    filteredCountries () {
      const searchText = this.search.toLowerCase()
      return this.countries.filter(country => country.name.toLowerCase().indexOf(searchText) > -1)
    },
    searching () {
      if (!this.search) return this.countries

      const search = this.search.toLowerCase()

      return this.countries.filter(country => {
        const text = country.name.toLowerCase()

        return text.indexOf(search) > -1
      })
    },

    pages () {
      return this.paginate(this.searching, this.itemsPerPage, this.page)
    },

    pagesLength () {
      if (this.searching) {
        if (this.searching.length === 0) {
          return this.searching.length
        } else if (this.searching % this.itemsPerPage === 0) {
          return this.searching.length / this.itemsPerPage
        } else {
          return (Math.floor(this.searching.length / this.itemsPerPage))
        }
      } else {
        return 0
      }
    }
  },
  methods: {
    paginate (array, pageSize, pageNumber) {
      return array.slice((pageNumber - 1) * pageSize, pageNumber * pageSize)
    }
  }
}
</script>

<style lang="scss" scoped>
.country-grid-container {
  display: flex;
  flex-direction: column;
}
.country-card {
  max-width: 300px;
}
.country-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.country-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  overflow: unset;
  margin: 1rem 1rem;
}
.pagination {
  margin-top: 2rem;
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 1rem;
    font-style: italic;
    color: $textgrey;
  }
}
</style>
