<template>
  <div>
    <TeamHeader :team="team" :seasons="seasons" @change-season="changeSeason"/>
    <v-tabs
      v-model="currentTab"
      align-with-title
    >
      <v-tabs-slider></v-tabs-slider>
      <v-tab
        v-for="tab in tabs"
        :key="tab.name"
        :disabled="!tab.enabled"
      >
        {{ tab.name }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="currentTab">
      <v-tab-item
        v-for="tab in tabs"
        :key="tab.name"
      >
        <component v-if="tab.enabled" v-bind:is="tab.component" v-bind="tab.props"></component>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
// Components
import TeamHeader from '@/components/football/teams/utils/TeamHeader.vue'
import TeamStatistics from '@/components/football/teams/TeamStatistics.vue'
import TeamLeagues from '@/components/football/teams/TeamLeagues.vue'
import FixtureList from '@/components/football/fixtures/FixtureList.vue'
import PlayerGrid from '@/components/football/players/utils/PlayerGrid.vue'
import TeamTransfersList from '@/components/football/teams/TeamTransfersList.vue'
import CoachGrid from '@/components/football/coachs/CoachGrid.vue'

// API
import TeamsService from '@/api/logic/teams/teams'
import PlayersService from '@/api/logic/players/players'
import TransfersService from '@/api/logic/players/transfers'
import CoachsService from '@/api/logic/coachs/coachs'
import LeaguesService from '@/api/logic/leagues/leagues'
import FixturesService from '@/api/logic/fixtures/fixtures'

const teamsService = new TeamsService()
const playersService = new PlayersService()
const transfersService = new TransfersService()
const coachsService = new CoachsService()
const leaguesService = new LeaguesService()
const fixturesService = new FixturesService()

export default {
  name: 'Team',
  components: { TeamHeader, PlayerGrid, TeamTransfersList, TeamStatistics, CoachGrid, TeamLeagues, FixtureList },
  data: () => ({
    currentTab: 0,
    team: null,
    season: null,
    seasons: [],
    playerList: [],
    transfers: [],
    coachList: [],
    leagues: [],
    fixtures: []
  }),
  computed: {
    tabs () {
      return [
        { name: this.$t('views.football.teams.team.tabs.statistics'), component: TeamStatistics, props: { team: this.team, seasons: this.seasons, leagues: this.leagues }, enabled: true },
        { name: this.$t('views.football.teams.team.tabs.leagues'), component: TeamLeagues, props: { leagues: this.leagues }, enabled: this.leagues.length },
        { name: this.$t('views.football.teams.team.tabs.fixtures'), component: FixtureList, props: { fixtures: this.fixtures }, enabled: this.fixtures.length },
        { name: this.$t('views.football.teams.team.tabs.players'), component: PlayerGrid, props: { playerList: this.playerList, season: this.season }, enabled: this.playerList.length },
        { name: this.$t('views.football.teams.team.tabs.transfers'), component: TeamTransfersList, props: { transfers: this.transfers }, enabled: this.transfers.length },
        { name: this.$t('views.football.teams.team.tabs.coachs'), component: CoachGrid, props: { coachList: this.coachList }, enabled: this.coachList.length }
      ]
    }
  },
  mounted () {
    teamsService.getTeamById(this.$route.params.teamId)
      .then(response => {
        this.team = response.data.response[0]
        this.getSeasons(this.team.team.id)
          .then(() => {
            if (this.$route.query.season) this.season = this.seasons.filter(season => { return season.toString() === this.$route.query.season })[0]
            if (!this.$route.query.season && !this.season) this.season = this.seasons[this.seasons.length - 1]
          })
        this.updateData(this.team.team.id, this.season)
      })
      .catch(error => console.error(error))
  },
  methods: {
    updateData (team, season) {
      var diferentSeason = season !== this.season
      if (!this.leagues.length) this.getLeagues(team)
      if (diferentSeason || !this.fixtures.length) this.getFixtures(team, season)
      if (diferentSeason || !this.playerList.length) this.getPlayers(team, season)
      if (diferentSeason || !this.transfers.length) this.getTransfers(team)
      if (diferentSeason || !this.coachList.length) this.getCoachs(team)
      if (diferentSeason) this.season = season
    },
    changeSeason (season) {
      this.updateData(this.team.team.id, season)
      if (this.$route.query.season !== season.toString()) this.$router.replace({ name: 'Team', params: { teamId: this.team.team.id }, query: { season: season } })
    },
    getSeasons (teamId) {
      return new Promise((resolve, reject) => {
        teamsService.getTeamSeasons(teamId)
          .then(response => {
            this.seasons = response.data.response
            resolve()
          })
          .catch(error => {
            console.error(error)
            reject(error)
          })
      })
    },
    getPlayers (teamId, seasonId) {
      playersService.getPlayersByTeam(teamId, seasonId)
        .then(response => {
          this.playerList = response.data.response
        })
        .catch(error => console.error(error))
    },
    getTransfers (teamId) {
      transfersService.getTransfersByTeam(teamId)
        .then(response => {
          this.transfers = response.data.response
        })
        .catch(error => console.error(error))
    },
    getCoachs (teamId) {
      coachsService.getCoachsByTeam(teamId)
        .then(response => {
          this.coachList = response.data.response
        })
        .catch(error => console.error(error))
    },
    getLeagues (teamId) {
      leaguesService.getLeagueByTeam(teamId)
        .then(response => {
          this.leagues = response.data.response
        })
        .catch(error => console.error(error))
    },
    getFixtures (teamId, season) {
      fixturesService.getFixturesByTeam(teamId, season)
        .then(response => {
          this.fixtures = response.data.response
        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
