<template>
<v-sheet
    class="mx-auto"
  >
    <v-slide-group
      show-arrows
    >
      <v-slide-item
        v-for="league in leagues"
        :key="league.league.id"
      >
        <v-col
          class="fill-height"
          align="center"
          justify="center"
        >
          <LeagueCard :league='league.league' :country="league.country" />
        </v-col>
      </v-slide-item>
    </v-slide-group>
  </v-sheet>
</template>

<script>
import LeagueCard from './LeagueCard'

export default {
  name: 'HorizontalScrollContainers',
  components: { LeagueCard },
  props: { leagues: Array }
}
</script>

<style lang="scss" scoped>

</style>
