<template>
  <v-card
    class="mx-2 league-card"
  >
    <div class="league-card-container">
      <div class="league-data">
        <div class="league-info">
          <p class="league-name">{{league.name}}</p>
          <div class="league-country-container">
            <Country :country='country' />
          </div>
        </div>
        <div class="league-button-container">
          <v-btn
            color="primary"
            rounded
            small
            @click="routeTo('/leagues/' + league.id)"
          >
            {{$t('components.football.leagues.leagueCard.goToLeague')}}
          </v-btn>
        </div>
      </div>
      <div class="league-image-container">
        <img class="league-image" :src="league.logo">
      </div>
    </div>
  </v-card>
</template>

<script>
import Country from '@/components/utils/Country.vue'

export default {
  name: 'LeagueCard',
  props: {
    league: Object,
    country: Object
  },
  components: {
    Country
  },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }

}
</script>

<style scoped lang="scss">
.league-card-container{
  p { margin: 0; }
  display: flex;
  flex-direction: row;
}
.league-button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.league {
  &-name {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%-180px);
    flex-grow: 1;
    padding: 1rem;
  }
  &-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px; width: 180px;
    padding: 1rem;
  }
  &-image {
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
}
.league-card {
  width: auto;
}

</style>
