<template>
<div v-if="leagues">
  <div class="league-toolbar">
    <!-- <v-toolbar-title>Country selection</v-toolbar-title> -->
    <v-text-field
      v-model="search"
      :loading="loading"
      append-icon="mdi-magnify"
      :label="$t('components.football.leagues.leagueGrid.textFieldLabel')"
    ></v-text-field>
  </div>
  <div>
    <div v-if="pages.length" class="league-grid">
      <LeagueGridCard v-for="(league, index) in pages" :key="index" :league='league' />
    </div>
    <div v-else class="no-data">
      <p>{{$t('error.notFound')}}</p>
    </div>
  </div>
  <div class="pagination">
    <v-pagination
      v-model="page"
      :length="pagesLength"
      :total-visible="totalVisiblePages"
    ></v-pagination>
  </div>
</div>
</template>

<script>
import LeagueGridCard from '@/components/football/leagues/utils/LeagueGridCard.vue'

export default {
  name: 'LeagueGrid',
  components: { LeagueGridCard },
  props: {
    leagues: Array
  },
  data: () => ({
    loading: false,
    search: '',
    page: 1,
    itemsPerPage: 24,
    totalVisiblePages: 7
  }),
  computed: {
    searching () {
      if (!this.search) return this.leagues

      const search = this.search.toLowerCase()

      return this.leagues.filter(league => {
        const text = league.league.name.toLowerCase()
        const text2 = league.country.name.toLowerCase()

        return text.indexOf(search) > -1 || text2.indexOf(search) > -1
      })
    },

    pages () {
      return this.paginate(this.searching, this.itemsPerPage, this.page)
    },

    pagesLength () {
      if (this.searching) {
        if (this.searching.length === 0) {
          return this.searching.length
        } else if (this.searching % this.itemsPerPage === 0) {
          return this.searching.length / this.itemsPerPage
        } else {
          return (Math.floor(this.searching.length / this.itemsPerPage))
        }
      } else {
        return 0
      }
    }
  },
  methods: {
    paginate (array, pageSize, pageNumber) {
      return array.slice((pageNumber - 1) * pageSize, pageNumber * pageSize)
    }
  }
}
</script>

<style lang="scss" scoped>
.league-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  overflow: unset;
  margin: 1rem 1rem;
}
.pagination {
  margin-top: 2rem;
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 1rem;
    font-style: italic;
    color: $textgrey;
  }
}
</style>
