<template>
  <div>
    <div v-for="(standing, index) in standings.league.standings" :key="index" class="standings-container">
      <div class="standings-header">
        <div class="league-color"></div>
        <div class="image-container">
          <img class="league-image" :src="standings.league.logo">
        </div>
        <div class="league-info">
          <p class="league-name">{{standings.league.name}}</p>
          <p class="league-group">{{splitGroup(standing[0].group)}}</p>
        </div>
      </div>
      <Standings :standings="standing" />
    </div>
  </div>
</template>

<script>
import Standings from '@/components/football/standings/Standings.vue'
export default {
  name: 'StandingsList',
  components: { Standings },
  props: { standings: Object },
  methods: {
    splitGroup (group) {
      if (group) {
        const text = group.split(' ')[0].toLowerCase()
        const search = 'group'
        const text2 = group.toLowerCase()
        const search2 = 'ranking of third-placed teams'
        if (text.indexOf(search) > -1) return this.$t('components.football.leagues.standingsList.group', { group: group.split(' ')[1] })
        if (text2.indexOf(search2) > -1) return this.$t('components.football.leagues.standingsList.thirdPlacedTeams')
      }
      return this.$t('components.football.leagues.standingsList.regularSeason')
    }
  }
}
</script>

<style lang="scss" scoped>
.standings-container {
  border: 1px solid #eee;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 3px;
  margin: 1rem 2rem 2rem;
}
.standings-header {
  p { margin: 0; }
  display: flex;
  flex-direction: row;
  background-color: $lightgrey;
  align-items: center;
}
.league-color{
  width: 1rem; height: 100%;
  background-color: $homeTeamColor;
}
.league {
  &-image {
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
  &-info {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  &-name {
    font-weight: bold;
  }
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem; width: 4rem;
  padding: 0.3rem;
}
</style>
