<template>
  <div>
    <TeamGrid :teams="teams" />
  </div>
</template>

<script>
import TeamGrid from '@/components/football/teams/utils/TeamGrid.vue'

export default {
  name: 'TeamList',
  components: { TeamGrid },
  props: { teams: Array },
  computed: {
  }
}
</script>

<style lang="scss" scoped>

</style>
