<template>
  <div class="top-players-container">
    <div>
      <div v-if="topPlayers.topScorers.length" class="top-players-list-container">
        <p class="top-players-list-header">{{$t('components.football.leagues.topPlayers.topScorers')}}</p>
        <TopPlayersSlide :playerList="topPlayers.topScorers"/>
      </div>
      <div v-if="topPlayers.topAssists.length" class="top-players-list-container">
        <p class="top-players-list-header">{{$t('components.football.leagues.topPlayers.topAssists')}}</p>
        <TopPlayersSlide :playerList="topPlayers.topAssists"/>
      </div>
      <div v-if="topPlayers.topYellowCards.length" class="top-players-list-container">
        <p class="top-players-list-header">{{$t('components.football.leagues.topPlayers.topYellowCards')}}</p>
        <TopPlayersSlide :playerList="topPlayers.topYellowCards"/>
      </div>
      <div v-if="topPlayers.topRedCards.length" class="top-players-list-container">
        <p class="top-players-list-header">{{$t('components.football.leagues.topPlayers.topRedCards')}}</p>
        <TopPlayersSlide :playerList="topPlayers.topRedCards"/>
      </div>
    </div>
  </div>
</template>

<script>
import TopPlayersSlide from '@/components/football/players/TopPlayersSlide.vue'

export default {
  name: 'TopPlayers',
  components: { TopPlayersSlide },
  props: {
    topPlayers: Object
  }
}
</script>

<style lang="scss" scoped>
.top-players-container {
  display: flex;
  flex-direction: column;
}
.top-players-header{
  p { margin: 0; font-weight: bold; font-size: 2rem; }
  display: flex;
  background-color: $lightgrey;
  .color {
    width: 1rem;
    background-color: $primary;
  }
  .league { margin: 0 1rem;}
  .text { margin: 0 1rem; }
}
.top-players-list-container {
  margin: 3rem 0;
}
.top-players-list-header {
  font-weight: bold;
  margin: 0 4rem;
  font-size: 2rem;
}
</style>
