<template>
  <div>
    <v-card class="signUp-card">
    <div>
      <p>
        <v-card-title>{{$t('components.userAccess.signUpCard.form.signUp')}}</v-card-title>
      </p>
      <v-form
        ref="form"
        v-model="valid"
      >
        <v-text-field
          data-cy="signup-name"
          v-model="user.name"
          :counter="32"
          :rules="formRules.nameRules"
          :label="$t('components.userAccess.signUpCard.form.name')"
          required
          outlined
          clearable
        ></v-text-field>
        <v-text-field
          data-cy="signup-userName"
          v-model="user.userName"
          :counter="32"
          :rules="formRules.userNameRules"
          :label="$t('components.userAccess.signUpCard.form.userName')"
          required
          outlined
          clearable
        ></v-text-field>
        <v-text-field
          data-cy="signup-email"
          v-model="user.email"
          :rules="formRules.emailRules"
          :label="$t('components.userAccess.signUpCard.form.email')"
          required
          outlined
          clearable
        ></v-text-field>
        <v-text-field
          data-cy="signup-password"
          v-model="user.password"
          :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="formRules.passwordRules"
          :type="showPass ? 'text' : 'password'"
          :label="$t('components.userAccess.signUpCard.form.password')"
          required
          outlined
          counter
          @click:append="showPass = !showPass"
          clearable
        ></v-text-field>
        <v-text-field
          data-cy="signup-passwordRepeat"
          v-model="user.passwordRepeat"
          :append-icon="showRepeatPass ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="formRules.passwordRepeatRules"
          :type="showRepeatPass ? 'text' : 'password'"
          :label="$t('components.userAccess.signUpCard.form.passwordRepeat')"
          required
          outlined
          counter
          @click:append="showRepeatPass = !showRepeatPass"
          clearable
        ></v-text-field>
        <v-select
          data-cy="signup-country"
          v-model="user.country"
          :items="countries"
          item-text="name"
          item-value="code"
          :rules="formRules.countryRules"
          :label="$t('components.userAccess.signUpCard.form.country')"
          prepend-inner-icon="mdi-map-marker"
          required
          outlined
          clearable
        ></v-select>
        <v-checkbox
          data-cy="signup-agree"
          v-model="user.agree"
          :rules="formRules.agreeRules"
          :label="$t('components.userAccess.signUpCard.form.agree')"
          required
        >
          <template v-slot:label>
            <div class="terms-text">
              <p>{{$t('components.userAccess.signUpCard.form.agree')}}</p>
              <v-dialog
                v-model="dialog"
                width="600px"
                height="70vh"
              >
                <template v-slot:activator="{ on, attrs }">
                   <a data-cy="signup-agree-button" class="terms-link" @click.stop href="#/signUp" v-bind="attrs" v-on="on">{{$t('components.userAccess.signUpCard.form.terms')}}</a>
                </template>
                <v-card data-cy="signup-agree-card">
                  <v-card-title>
                    <span class="text-h5">{{$t('components.userAccess.signUpCard.form.terms')}}</span>
                  </v-card-title>
                  <v-card-text>
                    {{$t('components.userAccess.signUpCard.termsAndConditions.text')}}
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      data-cy="signup-agree-close"
                      color="primary darken-1"
                      text
                      @click="(dialog = false) || (user.agree = false)"
                    >
                      {{$t('components.userAccess.signUpCard.termsAndConditions.close')}}
                    </v-btn>
                    <v-btn
                      data-cy="signup-agree-agree"
                      color="primary darken-1"
                      text
                      @click="(dialog = false) || (user.agree = true)"
                    >
                      {{$t('components.userAccess.signUpCard.termsAndConditions.agree')}}
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </div>
          </template>
        </v-checkbox>
        <div class="form-actions">
          <v-btn data-cy="signup-agree-signin" outlined color="primary" @click="$router.push('/signIn')">{{$t('components.userAccess.signUpCard.form.login')}}</v-btn>
          <v-btn
            data-cy="signup-submit"
            color="success"
            @click="register"
          >
            {{ $t('components.userAccess.signUpCard.form.submit') }}
          </v-btn>
        </div>
      </v-form>
    </div>
    </v-card>
  </div>
</template>
<script>
// eslint-disable-next-line
var emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

export default {
  name: 'SignUpCard',
  data () {
    return {
      dialog: false,
      valid: false,
      showPass: false,
      showRepeatPass: false,
      user: {
        name: '',
        userName: '',
        email: '',
        password: '',
        passwordRepeat: '',
        country: '',
        agree: false
      },
      formRules: {
        nameRules: [
          v => !!v || this.$t('components.userAccess.signUpCard.rules.nameRequired'),
          v => (v && v.length <= 32) || this.$t('components.userAccess.signUpCard.rules.nameMaxLength')
        ],
        emailRules: [
          v => !!v || this.$t('components.userAccess.signUpCard.rules.emailRequired'),
          v => emailRegex.test(v) || this.$t('components.userAccess.signUpCard.rules.emailValid')
        ],
        userNameRules: [
          v => !!v || this.$t('components.userAccess.signUpCard.rules.usernameRequired'),
          v => (v && v.length <= 32) || this.$t('components.userAccess.signUpCard.rules.usernameMaxLength')
        ],
        passwordRules: [
          v => !!v || this.$t('components.userAccess.signUpCard.rules.passwordRequired'),
          v => (v && v.length >= 8) || this.$t('components.userAccess.signUpCard.rules.passwordcharactersRequired')
        ],
        passwordRepeatRules: [
          v => !!v || this.$t('components.userAccess.signUpCard.rules.passwordConfirmationRequired'),
          v => (v && (v === this.user.password)) || this.$t('components.userAccess.signUpCard.rules.matchRequired')
        ],
        agreeRules: [
          v => !!v || this.$t('components.userAccess.signUpCard.rules.agree')
        ]
      }
    }
  },
  props: {
    countries: Array
  },
  methods: {
    register () {
      this.$refs.form.validate()
      if (this.valid) {
        this.$store.dispatch('signUp', {
          email: this.user.email,
          password: this.user.password,
          name: this.user.name,
          userName: this.user.userName,
          country: this.user.country
        })
          .then(() => {
            this.$emit('show-snackbar', { message: this.$t('components.userAccess.signUpCard.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
            setTimeout(() => {
              this.$router.push('/')
            }, 2000)
          })
          .catch((error) => {
            const errorCode = error.code
            if (errorCode === 'auth/email-already-in-use') this.$emit('show-snackbar', { message: this.$t('components.userAccess.signUpCard.snackbarMessages.emailInUse'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/invalid-emai') this.$emit('show-snackbar', { message: this.$t('components.userAccess.signUpCard.snackbarMessages.invalidEmai'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/operation-not-allowed') this.$emit('show-snackbar', { message: this.$t('components.userAccess.signUpCard.snackbarMessages.notAllowed'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/weak-password') this.$emit('show-snackbar', { message: this.$t('components.userAccess.signUpCard.snackbarMessages.weakPassword'), color: 'error', icon: 'mdi-alert-circle' })
            else this.$emit('show-snackbar', { message: this.$t('components.userAccess.signUpCard.snackbarMessages.signUpError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      }
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    }
  }
}
</script>
<style lang="scss" scoped>
.terms-text {
  p { margin: 0 0.25em 0 0; }
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.signUp-card {
  padding: 1.5rem;
}
.form-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 0 0;
}
</style>
