<template>
  <v-card class="signInCard">
    <v-card-title>{{$t('components.userAccess.signInCard.login')}}</v-card-title>
    <v-form ref="form" v-model="valid">
      <div>
        <v-text-field
          v-model="user.email"
          :label="$t('components.userAccess.signInCard.email')"
          :rules="rules.email"
          outlined
          data-cy="login-email"
        ></v-text-field>
        <v-text-field
          v-model="user.password"
          :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPass ? 'text' : 'password'"
          :label="$t('components.userAccess.signInCard.password')"
          :rules="rules.password"
          outlined
          @click:append="showPass = !showPass"
          data-cy="login-password"
        ></v-text-field>
        <p data-cy="login-forgotemail-button" class="forgot-email" @click="forgotEmail.dialog = true">{{$t('components.userAccess.signInCard.forgotEmail.forgotEmail')}}</p>
      </div>
      <div class="form-actions">
        <v-btn data-cy="login-createAccount" outlined color="primary" @click="$router.push('/signUp')">{{$t('components.userAccess.signInCard.createAccount')}}</v-btn>
        <v-btn data-cy="login-button" color="success" @click="signIn">{{$t('components.userAccess.signInCard.login')}}</v-btn>
      </div>
    </v-form>
    <!-- Rest password dialog -->
    <v-dialog
      v-model="forgotEmail.dialog"
      width="500"
      @click:outside="closeDialog()"
    >
      <v-card data-cy="login-forgotemail">
        <v-form ref="forgotEmailForm" v-model="forgotEmail.valid">
          <v-card-title class="text-h5 grey lighten-2">
            {{$t('components.userAccess.signInCard.forgotEmail.tittle')}}
          </v-card-title>
          <!-- <v-card-text>
            {{$t('components.userAccess.signInCard.forgotEmail.text')}}
          </v-card-text> -->
          <v-text-field
            data-cy="login-forgotemail-email"
            class="forgot-email-textfield"
            v-model="forgotEmail.email"
            :label="$t('components.userAccess.signInCard.email')"
            :rules="rules.email"
            outlined
          ></v-text-field>

          <v-divider></v-divider>

          <v-card-actions>
            <v-btn
              data-cy="login-forgotemail-close"
              color="error"
              text
              @click="closeDialog()"
            >
              {{$t('components.userAccess.signInCard.forgotEmail.close')}}
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
              data-cy="login-forgotemail-send"
              color="primary"
              text
              @click="resetPassword()"
            >
              {{$t('components.userAccess.signInCard.forgotEmail.sendEmail')}}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
// eslint-disable-next-line
const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

export default {
  name: 'SignInCard',
  data () {
    return {
      showPass: false,
      valid: false,
      user: {
        email: '',
        password: ''
      },
      forgotEmail: {
        dialog: false,
        valid: false,
        email: ''
      },
      rules: {
        email: [
          v => !!v || this.$t('components.userAccess.signInCard.rules.emptyEmail'),
          v => emailRegex.test(v) || this.$t('components.userAccess.signInCard.rules.notValidEmail')
        ],
        password: [v => !!v || this.$t('components.userAccess.signInCard.rules.emptyPassword')]
      }
    }
  },
  methods: {
    signIn () {
      this.$refs.form.validate()
      if (this.valid) {
        this.$store.dispatch('signIn', {
          email: this.user.email,
          password: this.user.password
        })
          .then(() => {
            this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
            setTimeout(() => {
              this.$router.push('/')
            }, 2000)
          })
          .catch((error) => {
            console.error(error)
            this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.loginError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      }
    },
    resetPassword () {
      this.$refs.forgotEmailForm.validate()
      if (this.forgotEmail.valid) {
        this.$store.dispatch('sendPasswordResetEmail', this.forgotEmail.email)
          .then(() => {
            this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.successfullEmail'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
            setTimeout(() => {
              this.closeDialog()
            }, 2000)
          })
          .catch((error) => {
            const errorCode = error.code
            if (errorCode === 'auth/invalid-email') this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.invalidEmail'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/user-not-found') this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.userNotFound'), color: 'error', icon: 'mdi-alert-circle' })
            else this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.unexpectedError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      }
    },
    closeDialog () {
      this.forgotEmail.dialog = false
      this.$refs.forgotEmailForm.reset()
    }
  }
}
</script>
<style lang="scss" scoped>
  .signInCard{
    padding: 1.5rem;
  }
  .form-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 0 0;
  }
  .forgot-email {
    color: $primary;
  }
  .forgot-email:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .email-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .forgot-email-textfield {
    padding: 2rem 1rem 0 1rem !important;
  }
</style>
