<template>
  <div class="fixture-header-container" v-if="fixture">
    <!-- <h1 class="title"></h1> -->
    <div class="fixture-info">
      <div class="league-info">
        <div class="colour"></div>
        <div class="image-container">
          <img class="image" :src="fixture.league.logo">
        </div>
        <div>
          <div class="contry-league-container">
            <p class="country" @click="routeTo(`/countries/${fixture.league.country}`)">{{fixture.league.country}}</p>
            <v-icon>mdi-chevron-right</v-icon>
            <p class="league" @click="routeTo(`/leagues/${fixture.league.id}`)">{{fixture.league.name}}</p>
          </div>
          <p class="round">{{fixture.league.round}}</p>
        </div>
      </div>
      <div class="fixture-date-container">
        <div class="fixture-date">
          <p class="date">{{dateToLocale(date)[0]}}</p>
          <p class="time">{{dateToLocale(date)[1]}}</p>
        </div>
        <div v-if="!loggedIn" class="colour">
        </div>
        <div v-else-if="!fixtureAdded" class="add-fixture-button-container">
          <v-btn data-cy="fixture-addFixture" class="add-fixture-button"
            text
            rounded
            outlined
            @click="addFixture()"
          >{{$t('components.football.fixtures.utils.fixtureHeader.addFixture')}}</v-btn>
        </div>
        <div v-else class="remove-fixture-button-container">
          <v-btn data-cy="fixture-removeFixture" class="remove-fixture-button"
            text
            rounded
            outlined
            @click="removeFixture()"
          >{{$t('components.football.fixtures.utils.fixtureHeader.removeFixture')}}</v-btn>
        </div>
      </div>
    </div>
    <div class="fixture">
      <div class="team team-home" @click="routeTo(`/teams/${fixture.teams.home.id}`)">
        <v-img class="team-image" :src="fixture.teams.home.logo" width="200"></v-img>
        <p class="team-name">{{fixture.teams.home.name}}</p>
      </div>
      <div class="fixture-data">
        <p class="fixture-data-status">{{translateStatus(fixture.fixture.status.short)}}</p>
        <!-- <p class="fixture-info-date">{{date.toUTCString()}}</p> -->
        <div class="result">
          <p class="goals golas-home">{{fixture.goals.home}}</p>
          <p class="separator"> - </p>
          <p class="goals golas-away">{{fixture.goals.away}}</p>
        </div>
        <div v-if="false" class="result result-halftime">
          <p>{{fixture.score.halftime.home}}</p>
          <p class="separator"> - </p>
          <p>{{fixture.score.halftime.away}}</p>
        </div>
        <div v-if="false" class="result result-penaly">
          <p>{{fixture.score.penalty.home}}</p>
          <p class="separator"> - </p>
          <p>{{fixture.score.penalty.away}}</p>
        </div>
      </div>
      <div class="team team-away" @click="routeTo(`/teams/${fixture.teams.home.id}`)">
        <v-img class="team-image" :src="fixture.teams.away.logo" width="200"></v-img>
        <p class="team-name">{{fixture.teams.away.name}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FixtureHeader',
  props: {
    fixture: Object
  },
  computed: {
    loggedIn () { return this.$store.state.user.user.uid },
    fixtureAdded () { return this.$store.state.user.user.fixtures.filter(fixture => fixture.fixture.id === this.fixture.fixture.id).length },
    fixtureId () {
      const fixture = this.$store.state.user.user.fixtures.filter(fixture => fixture.fixture.id === this.fixture.fixture.id)
      if (fixture.length) return fixture[0].docId
      else return 0
    },
    date () {
      return new Date(this.fixture.fixture.date)
    }
  },
  methods: {
    translateStatus (status) {
      switch (status) {
        case 'TBD':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.tbd')
        case 'NS':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.ns')
        case '1H':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.1h')
        case 'HT':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.ht')
        case '2H':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.2h')
        case 'ET':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.et')
        case 'P':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.p')
        case 'FT':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.ft')
        case 'AET':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.aet')
        case 'PEN':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.pen')
        case 'BT':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.bt')
        case 'SUSP':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.susp')
        case 'INT':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.int')
        case 'PST':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.pst')
        case 'CANC':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.canc')
        case 'ABD':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.abd')
        case 'AWD':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.awd')
        case 'WO':
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.wo')
        default:
          return this.$t('components.football.fixtures.utils.fixtureHeader.status.default')
      }
    },
    dateToLocale (date) {
      var tempDate = new Date(date)
      const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
      const timeOptions = { hour12: true, hour: '2-digit', minute: '2-digit' }
      return [tempDate.toLocaleDateString(this.$root.$i18n.locale, dateOptions), tempDate.toLocaleTimeString(this.$root.$i18n.locale, timeOptions)]
    },
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    },
    addFixture () {
      if (this.loggedIn && !this.fixtureAdded) {
        const fixture = this.fixture
        this.$store.dispatch('addFixture', fixture)
          .then(() => {
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
          })
          .catch((error) => {
            console.error(error)
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.loginError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      } else { console.error('No estas logueado mazapan') }
    },
    removeFixture () {
      const docId = this.fixtureId
      if (this.loggedIn && docId) {
        const fixture = { docId: docId }
        this.$store.dispatch('removeFixture', fixture)
          .then(() => {
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
          })
          .catch((error) => {
            console.error(error)
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.loginError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      } else { console.error('No estas logueado mazapan') }
    }
  }
}
</script>

<style lang="scss" scoped>
.fixture-header-container {
  display: flex;
  flex-direction: column;
  p { margin: 0; }
}
.fixture-info {
  display: flex;
  flex-direction: row;
}
.league-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $lightgrey;
  padding-right: 2rem;
  .contry-league-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    .country{
      font-weight: bold;
    }
    .country:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    .league {
      font-weight: bold;
    }
    .league:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .image{
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
  .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem; height: 3rem;
    padding: 0.2rem;
    margin: 0 0.5rem;
  }
  .colour {
    width: 1rem; height: 100%;
    background-color: $primary;
  }
}
.fixture-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.2rem 2rem 0.2rem 1rem;
  background-color: $lightgrey;
  text-align: right;
  &-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    .add-fixture-button-container {
      transition: all 400ms;
      position: absolute;
      display: flex;
      justify-content: center;
      right: calc(-100% + 2rem);
      width: calc(100% - 1rem); height: 100%;
      background-color: $addColor;
    }
    .remove-fixture-button-container {
      transition: 400ms all;
      position: absolute;
      display: flex;
      justify-content: center;
      right: calc(-100% + 2rem);
      width: calc(100% - 1rem); height: 100%;
      background-color: $removeColor;
    }
    .colour {
      width: 1rem;
      background-color: $primary;
    }
  }
  .date {
    font-weight: bold;
  }
}
.fixture-date-container:hover .add-fixture-button-container, .fixture-date-container:hover .remove-fixture-button-container {
  transform: translateX(calc(-100% + 1rem));
}
.add-fixture-button {
  align-self: center;
  color: white;
  border: 1px solid white !important;
  background-color: $addColor;
}
.remove-fixture-button {
  align-self: center;
  color: white;
  border: 1px solid white !important;
  background-color: $removeColor;
}

.fixture {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  &-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-status {
      padding: 0 0.2rem;
      color: white;
      background-color: red;
    }
  }
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 200ms;
    // margin: 1rem;
    // max-width: 10rem;
    // width: 100%;
    // font-weight: bold;
    // font-size: 1.5rem;
    &-name {
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      padding: 0.1rem 0.5rem;
    }
    &-image {
      margin: 1rem;
    }
  }

  .team:hover {
    cursor: pointer;
    transform: translateY(-4px) scale(1.1);
  }
  .team:hover .team-name{
    text-decoration: underline;
  }

  .result {
    font-size: 4rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    .separator {
      margin: 0 1rem;
    }
  }
}
</style>
