<template>
  <v-card class="carrousel-card">
    <v-carousel
      class="carrousel"
      light
      height="500"
      show-arrows-on-hover
    >
      <v-carousel-item
        v-for="(fixture, i) in fixtures.slice(0, 5)"
        :key="i"
        @click="routeTo(`/fixtures/${fixture.fixture.id}`)"
        class="carrousel-item"
      >
        <FixtureHeader class="carrousel-card" :fixture="fixture"/>
      </v-carousel-item>
    </v-carousel>
  </v-card>
</template>

<script>
import FixtureHeader from './FixtureHeader.vue'
export default {
  name: 'FixtureCarrousel',
  components: { FixtureHeader },
  props: { fixtures: Array },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.carrousel-card {
  margin: 0;
}
.carrousel {
}
.carrousel{
  ::v-deep .v-carousel__controls {
    background-color: $lightgrey !important;
    color: white;
  }
  ::v-deep .v-window__next {
    background-color: $lightgrey !important;
    button {
      color: #aaa;
    }
  }
  ::v-deep .v-window__prev {
    background-color: $lightgrey !important;
    button {
      color: #aaa;
    }
  }
}
.carrousel-card {
}
.carrousel-item:hover {
  cursor: pointer;
}
</style>
