<template>
<v-list-item class="fixture-list-item" @click="routeTo(`/fixtures/${fixture.fixture.id}`)">
  <div class="fixture-list-item-info">
    <div class="league-container">
      <p class="league" @click.stop="routeTo(`/leagues/${fixture.league.id}?season=${fixture.league.season}`)">{{fixture.league.name}}</p>
      <p class="separator"> - </p>
      <p class="round">{{fixture.league.round}}</p>
    </div>
    <p class="">{{`${dateToLocale(fixture.fixture.date)[0]} - ${dateToLocale(fixture.fixture.date)[1]}`}}</p>
    <v-btn v-if="followButton" class="follow" color="success">text</v-btn>
  </div>
  <div class="team">
    <div class="team-image-container">
      <img class="team-image" :src="fixture.teams.home.logo" @click="routeTo(`/teams/${fixture.teams.home.id}`)">
    </div>
    <p class="team-name" @click.stop="routeTo(`/teams/${fixture.teams.home.id}`)">{{fixture.teams.home.name}}</p>
    <p :class="fixture.teams.home.winner ? 'team-result-winner' : 'team-result'">{{fixture.goals.home}}</p>
  </div>
  <div class="fixture-divider"></div>
  <div class="team">
    <div class="team-image-container">
      <img class="team-image" :src="fixture.teams.away.logo" @click="routeTo(`/teams/${fixture.teams.away.id}`)">
    </div>
    <p class="team-name" @click.stop="routeTo(`/teams/${fixture.teams.away.id}`)">{{fixture.teams.away.name}}</p>
    <p :class="fixture.teams.away.winner ? 'team-result-winner' : 'team-result'">{{fixture.goals.away}}</p>
  </div>
</v-list-item>
</template>

<script>
export default {
  name: 'FixtureListItem',
  props: {
    fixture: Object,
    header: Boolean,
    league: Boolean,
    followButton: Boolean
  },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    },
    dateToLocale (date) {
      var tempDate = new Date(date)
      const dateOptions = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
      const timeOptions = { hour12: true, hour: '2-digit', minute: '2-digit' }
      return [tempDate.toLocaleDateString(this.$root.$i18n.locale, dateOptions), tempDate.toLocaleTimeString(this.$root.$i18n.locale, timeOptions)]
    }
  }
}
</script>

<style lang="scss" scoped>
.fixture-list-item {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  margin: 1rem;
  padding: 0;
  &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    background-color: #eee;
    .league-container {
      display: flex;
      flex-direction: row;
      margin: 0,5rem;
      .league:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      .separator {
        margin: 0 1rem;
        justify-self: center;
        align-self: center;
      }
      padding: 0,5rem;
    }
    .date {
      margin-left: auto;
    }
    p {
      margin: 0;
      text-align: center;
    }
  }
  .team {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    &-image {
      display: block;
      max-width:100%;
      max-height:100%;
      width:100%;
      height:100%;
      object-fit: contain;
    }
    &-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem; width: 5rem;
      padding: 0.5rem;
      margin: 0 1rem;
    }

    &-image:hover {
      cursor: pointer;
    }

    &-name {
      margin: 0;
      padding: 0 1rem;
      font-weight: bold;
    }

    &-name:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &-result {
      // font-weight: bold;
      font-size: 2rem;
      margin: 0;
      padding: 1rem 2rem;
      margin-left: auto;

      &-winner {
        // font-weight: bold;
        font-size: 2rem;
        margin: 0;
        padding: 1rem 2rem;
        margin-left: auto;
        // background-color: yellow;
      }
    }
  }
}
.fixture-list-item::after {
  min-height: 0 !important;
}
.fixture-divider {
  width: 100%; height: 0.2rem;
  background-color: $lightgrey;
}
</style>
