<template>
  <v-list-item class="lineup-list-item"  @click="routeTo(route)">
    <div class="lineup-list-item-container">
      <p class="player-number">{{player.number}}</p>
      <p class="player-name">{{player.name}}</p>
      <p class="player-position">{{player.pos}}</p>
    </div>
  </v-list-item>
</template>

<script>
export default {
  name: 'LineupListItem',
  props: {
    player: Object,
    season: Number,
    coach: Boolean
  },
  computed: {
    route () {
      return this.coach ? `/coachs/${this.player.id}` : `/players/${this.player.id}/${this.season}`
    }
  },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.lineup-list-item {

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }

  .player {
    &-number{
      margin: 0 1rem;
      width: 2rem;
    }
    &-name{
      margin: 0 1rem;
      flex-grow: 1;
    }
    &-position{
      margin: 0 1rem;
    }
  }
}
input[id^='player_']:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}
</style>
