<template>
  <div class="lineup-container">
    <div class="lineup-header">
      <div :class="['team-color', home ? 'home': 'away' ]"></div>
      <div class="team">
        <div class="team-image-container">
          <img class="team-image" :src="lineup.team.logo">
        </div>
        <div class="team-info">
          <p class="team-info-name" @click="routeTo(`/teams/${lineup.team.id}`)">{{lineup.team.name}}</p>
          <p class="team-info-formation">{{lineup.formation}}</p>
        </div>
      </div>
    </div>
  <v-list class="lineup-list">
    <v-list-item class="divider-list-item">
      <div class="lineup-list-divider">
        {{$t('components.football.fixtures.utils.lineupList.coach')}}
      </div>
      </v-list-item>
    <!-- <v-divider></v-divider> -->
    <LineupListItem :player="lineup.coach" coach/>
    <v-list-item class="divider-list-item">
      <div class="lineup-list-divider">
        {{$t('components.football.fixtures.utils.lineupList.startXI')}}
      </div>
      </v-list-item>
    <!-- <v-divider></v-divider> -->
    <LineupListItem v-for="item in lineup.startXI" :key="item.player.id" :player="item.player" :season="league.season" />
    <v-list-item class="divider-list-item">
      <div class="lineup-list-divider">
        {{$t('components.football.fixtures.utils.lineupList.substitutes')}}
      </div>
    </v-list-item>
    <!-- <v-divider></v-divider> -->
    <LineupListItem v-for="item in lineup.substitutes" :key="item.player.id" :player="item.player" :season="league.season"/>
  </v-list>
  </div>
</template>

<script>
import LineupListItem from './LineupListItem'

export default {
  name: 'LineupList',
  components: { LineupListItem },
  props: {
    lineup: Object,
    league: Object,
    home: Boolean
  },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.lineup-container {
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}
.lineup-header{
  display: flex;
  flex-direction: row;
}
.team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &-color {
    width: 1rem;
  }
  &-image {
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
  &-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem; width: 3rem;
    padding: 0.2rem;
    margin: 0 0.5rem;
  }
  &-info {
    p {
      margin: 0;
    }
    display: flex;
    flex-direction: column;
    &-name {
      font-weight: bold;
    }
    &-name:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &-formation {
      color: $textgrey;
    }
  }
}
.home {
  background-color: $homeTeamColor;
}
.away {
  background-color: $awayTeamColor;
}
.divider-list-item{
  padding: 0;
  min-height: unset;
}
.lineup-list-divider {
  padding: 1rem 1rem;
  width: 100%; height: 100%;
  background-color: $lightgrey;
  font-weight: bold;
}
</style>
