<template>
<div class="stats-bar-container stats-bar-container-width">
  <p class="stats-bar-title">{{getStatisticsName(localStats.type)}}</p>
  <div class="stats-bar-data">
    <p class="cuantity">{{this.localStats.value ? this.localStats.value : 0}}</p>
    <div class="bars-container stats-bar-width">
      <v-progress-linear
        class="bar"
        color="#08BDBD"
        :value="localPercent"
        height="25"
        reverse
      ></v-progress-linear>
      <!-- <div class="divider">
        <p>{{bufferSize}}</p>
      </div> -->
      <v-progress-linear
        class="bar"
        :value="awayPercent"
        color="#F21B3F"
        height="25"
      ></v-progress-linear>
    </div>
    <p class="cuantity">{{this.awayStats.value ? this.awayStats.value : 0}}</p>
  </div>
</div>
</template>

<script>
export default {
  name: 'Statsbar',
  props: {
    localStats: Object,
    awayStats: Object
  },
  computed: {
    bufferSize () {
      if (isNaN(this.localStats.value) && (this.localStats.value.includes('%') || this.awayStats.value.includes('%'))) return 100
      else if (this.localStats.value < 100 && this.awayStats.value < 100) return Math.max(this.localStats.value + (10 - this.localStats.value % 10), this.awayStats.value + (10 - this.awayStats.value % 10))
      else return Math.max(this.localStats.value + (100 - this.localStats.value % 100), this.awayStats.value + (100 - this.awayStats.value % 100))
    },
    localPercent () {
      if (isNaN(this.localStats.value) && this.localStats.value.includes('%')) return parseInt(this.localStats.value.replace('%', ''))
      else return (this.localStats.value / this.bufferSize) * 100
    },
    awayPercent () {
      if (isNaN(this.localStats.value) && this.awayStats.value.includes('%')) return parseInt(this.awayStats.value.replace('%', ''))
      else return (this.awayStats.value / this.bufferSize) * 100
    }
  },
  methods: {
    getStatisticsName (name) {
      switch (name) {
        case 'Shots on Goal':
          return this.$t('components.football.fixtures.utils.statsBar.shotsOnGoal')
        case 'Shots off Goal':
          return this.$t('components.football.fixtures.utils.statsBar.shotsOffGoal')
        case 'Shots insidebox':
          return this.$t('components.football.fixtures.utils.statsBar.shotsInsidebox')
        case 'Shots outsidebox':
          return this.$t('components.football.fixtures.utils.statsBar.shotsOutsidebox')
        case 'Total Shots':
          return this.$t('components.football.fixtures.utils.statsBar.totalShots')
        case 'Blocked Shots':
          return this.$t('components.football.fixtures.utils.statsBar.blockedShots')
        case 'Fouls':
          return this.$t('components.football.fixtures.utils.statsBar.fouls')
        case 'Corner Kicks':
          return this.$t('components.football.fixtures.utils.statsBar.cornerKicks')
        case 'Offsides':
          return this.$t('components.football.fixtures.utils.statsBar.offsides')
        case 'Ball Possession':
          return this.$t('components.football.fixtures.utils.statsBar.ballPossession')
        case 'Yellow Cards':
          return this.$t('components.football.fixtures.utils.statsBar.yellowCards')
        case 'Red Cards':
          return this.$t('components.football.fixtures.utils.statsBar.redCards')
        case 'Goalkeeper Saves':
          return this.$t('components.football.fixtures.utils.statsBar.goalkeeperSaves')
        case 'Total passes':
          return this.$t('components.football.fixtures.utils.statsBar.totalPasses')
        case 'Passes accurate':
          return this.$t('components.football.fixtures.utils.statsBar.passesAccurate')
        case 'Passes %':
          return this.$t('components.football.fixtures.utils.statsBar.passesPercentage')
        default:
          return this.$t('components.football.fixtures.utils.statsBar.default')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.stats-bar {
  &-container {
    p { margin: 0; }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 100%;
  }
  &-title {
    font-weight: bold;
  }
  &-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .cuantity {
      p { margin: 0; }
      font-weight: bold;
      width: 2rem;
      text-align: center;
      margin: 0.5rem 1rem;
    }
    .bars-container {
      display: flex;
      flex-direction: row;
      margin: 0.5rem 0rem;
      .bar {
      }
    }
  }
}
.stats-bar-width {
  width: calc(100% - 4rem);
}
.stats-bar-container-width {
  width: calc(100% - 2rem);
}
</style>
