<template>
  <v-timeline>
    <v-timeline-item
      v-for="(evento, i) in eventos"
      :key="i"
      fill-dot
      :left="isHomeTeam(evento)"
      :right="!isHomeTeam(evento)"
      :color="teams.home.name === evento.team.name ? '#08BDBD' : '#F21B3F'"
    >
      <template v-slot:icon>
        <span class="event-text-color">{{`${evento.time.elapsed}'`}}</span>
      </template>
      <v-card :class="['elevation-2i', isHomeTeam(evento) ? 'event-card-size-left': 'event-card-size-right']">
        <div class="" >
          <div @click="routeTo(`/players/${evento.player.id}/${season}`)" :class="[isHomeTeam(evento) ? 'event-card-container-left': 'event-card-container-right']" v-if="(evento.type.toLowerCase() === 'goal')">
            <v-icon class="event-icon">
              {{eventType(evento)}}
            </v-icon>
            <div class="event-container">
              <img class="player-image" :src="`https://media.api-sports.io/football/players/${evento.player.id}.png`">
              <div :class="[isHomeTeam(evento) ? 'event-data-right':'event-data-left']">
                <p class="event-detail">{{translateDetail(evento)}}</p>
                <p class="player-name">{{evento.player.name}}</p>
              </div>
            </div>
          </div>
          <div v-else-if="(evento.type.toLowerCase() === 'subst')">
            <p :class="[isHomeTeam(evento) ? 'event-subst-right':'event-subst-left']">{{translateDetail(evento)}}</p>
            <div @click="routeTo(`/players/${evento.player.id}/${season}`)" :class="[isHomeTeam(evento) ? 'event-card-container-left': 'event-card-container-right']">
              <v-icon class="event-icon" color="green">mdi-arrow-right-box</v-icon>
              <div class="event-container">
                <img class="player-image" :src="`https://media.api-sports.io/football/players/${evento.player.id}.png`">
                <div :class="[isHomeTeam(evento) ? 'event-data-right':'event-data-left']">
                  <p class="event-detail">{{$t('components.football.fixtures.utils.timeLine.substitutions.in')}}</p>
                  <p class="player-name">{{evento.player.name}}</p>
                </div>
              </div>
            </div>
            <div @click="routeTo(`/players/${evento.assist.id}/${season}`)" :class="[isHomeTeam(evento) ? 'event-card-container-left': 'event-card-container-right']">
              <v-icon class="event-icon" color="red">mdi-arrow-left-box</v-icon>
              <div class="event-container">
                <img class="player-image" :src="`https://media.api-sports.io/football/players/${evento.assist.id}.png`">
                <div :class="[isHomeTeam(evento) ? 'event-data-right':'event-data-left']">
                  <p class="event-detail">{{$t('components.football.fixtures.utils.timeLine.substitutions.out')}}</p>
                  <p class="player-name">{{evento.assist.name}}</p>
                </div>
              </div>
            </div>
          </div>
          <div @click="routeTo(`/players/${evento.player.id}/${season}`)" :class="[isHomeTeam(evento) ? 'event-card-container-left': 'event-card-container-right']" v-else-if="(evento.type.toLowerCase() === 'card')">
            <component class="event-icon-card" v-bind:is="eventType(evento)"></component>
            <div class="event-container">
              <img class="player-image" :src="`https://media.api-sports.io/football/players/${evento.player.id}.png`">
              <div :class="[isHomeTeam(evento) ? 'event-data-right':'event-data-left']">
                <p class="event-detail">{{translateDetail(evento)}}</p>
                <p class="player-name">{{evento.player.name}}</p>
              </div>
            </div>
          </div>
          <div @click="routeTo(`/players/${evento.player.id}/${season}`)" :class="[isHomeTeam(evento) ? 'event-card-container-left': 'event-card-container-right']" v-else-if="(evento.type.toLowerCase() === 'var')">
            <component class="event-icon" v-bind:is="eventType(evento)"></component>
            <div class="event-container">
              <img class="player-image" :src="`https://media.api-sports.io/football/players/${evento.player.id}.png`">
              <div :class="[isHomeTeam(evento) ? 'event-data-right':'event-data-left']">
                <p class="event-detail">{{translateDetail(evento)}}</p>
                <p class="player-name">{{evento.player.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>

<script>
import Yellow from '@/assets/svg/icons/YellowCardIcon.svg?ico'
import Red from '@/assets/svg/icons/RedCardIcon.svg?ico'
import YellowRed from '@/assets/svg/icons/YellowRedIcon.svg?ico'
import VAR from '@/assets/svg/icons/VARIcon.svg?ico'

export default {
  name: 'TimeLine',
  components: { Yellow, Red, YellowRed, VAR },
  props: {
    eventos: Array,
    teams: Object,
    season: Number
  },
  methods: {
    eventType (event) {
      switch (event.type.toLowerCase()) {
        case 'goal':
          return 'mdi-soccer'
        case 'card':
          if (event.detail.toLowerCase() === 'red card') return Red
          if (event.detail.toLowerCase() === 'second sellow card') return YellowRed
          else return Yellow
        case 'subst':
          return 'mdi-swap-horizontal'
        case 'var':
          return VAR
      }
    },
    translateDetail (event) {
      if (event.type.toLowerCase() === 'subst') {
        return this.$t('components.football.fixtures.utils.timeLine.detail.substitution', { subst: event.detail.split(' ')[1] })
      } else if (event.detail) {
        switch (event.detail.toLowerCase()) {
          case 'normal goal':
            return this.$t('components.football.fixtures.utils.timeLine.detail.normalGoal')
          case 'own goal':
            return this.$t('components.football.fixtures.utils.timeLine.detail.ownGoal')
          case 'penalty':
            return this.$t('components.football.fixtures.utils.timeLine.detail.penalty')
          case 'missed penalty':
            return this.$t('components.football.fixtures.utils.timeLine.detail.missedPenalty')
          case 'yellow card':
            return this.$t('components.football.fixtures.utils.timeLine.detail.yellowCard')
          case 'second yellow card':
            return this.$t('components.football.fixtures.utils.timeLine.detail.secondYellowCard')
          case 'red card':
            return this.$t('components.football.fixtures.utils.timeLine.detail.redCard')
          case 'goal cancelled':
            return this.$t('components.football.fixtures.utils.timeLine.detail.goalCancelled')
          case 'penalty confirmed':
            return this.$t('components.football.fixtures.utils.timeLine.detail.penaltyConfirmed')
        }
      }
    },
    isHomeTeam (evento) {
      return this.teams.home.name === evento.team.name
    },
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.event-card-container{
  &-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  &-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  &-left:hover {
    background-color: $lightgrey;
    cursor: pointer;
  }
  &-right:hover {
    background-color: $lightgrey;
    cursor: pointer;
  }
}

.event {
  &-container {
    display: flex;
    flex-direction: inherit;
  }
  &-text-color { color: white !important; }
  &-data {
    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &-left {
      display: flex;
      flex-direction: column;
    }
  }
  &-icon {
    height: 2rem; width: 2rem;
    &-card {
      height: 1.5rem; width: 1.5rem;
    }
  }
  &-detail {
    margin: 0;
  }
}
.player {
  &-image {
    align-self: center;
    width: 3rem; height: 3rem;
    padding: 0.3rem;
    margin: 0 1rem;
    border-radius: 50%;
  }
  &-name {
    font-weight: bold;
    margin: 0;
  }
}
.event-subst {
  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 1.5rem;
    font-weight: bold;
    padding-top: 0.5rem;
  }
  &-left {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    font-weight: bold;
    padding-top: 0.5rem;
  }
}
.event-card-size {
  &-right {
    max-width: fit-content;
    transition: all 200ms;
  }
  &-left {
    max-width: fit-content;
    margin-left: auto;
    transition: all 200ms;
  }
  &-right:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
    justify-content: space-between;
  }
  &-left:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.05);
    justify-content: space-between;
  }

}
.event-card-container-right:hover .player-name {
  text-decoration: underline;
}
.event-card-container-left:hover .player-name {
  text-decoration: underline;
}
</style>
