<template>
  <v-menu offset-y transition="slide-y-transition">
    <template v-slot:activator="{ on, attrs }">
      <v-btn data-cy="localization-open" class="locale-switcher-button-container" rounded depressed color="primary" v-bind="attrs" v-on="on">
        <v-icon>mdi-translate</v-icon>
        <v-icon>mdi-chevron-down</v-icon>
      </v-btn>
    </template>
    <!-- TODO cambiar la lista por un btn group -->
    <v-list class="lista">
      <v-list-item class="list-item-tittle">
        <v-list-item-title data-cy="localization-text">{{ $t('components.localization.LocaleSwitcher.translations') }}</v-list-item-title>
      </v-list-item>
      <v-list-item-action class="list-item" v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">
        <v-btn data-cy="localization-language" text @click="switchLocale (lang)" :disabled="isActualLocale (lang)">
          {{ langByCode (lang) }}
        </v-btn>
      </v-list-item-action>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: 'LocaleSwitcher',
  methods: {
    isActualLocale (locale) {
      return (this.$root.$i18n.locale === locale)
    },
    switchLocale (locale) {
      if (!this.isActualLocale(locale)) {
        this.$root.$i18n.locale = locale
      }
    },
    langByCode (code) {
      if (code === 'en') return 'English'
      if (code === 'es') return 'Español'
    }
  },
  data: () => ({
    test: true,
    langs: process.env.VUE_APP_I18N_SUPPORTED_LOCALE.split(',')
  })
}
</script>
<style scoped lang="scss">
.locale-switcher-button-container {
  margin: 0 0.2rem
}
.lista {
  display: flex;
  flex-direction: column;

  .list-item {
    align-self: center !important;
    margin: 1vh 1vw !important;

    &-tittle{
      text-transform: uppercase;
      font-weight: bold;
    }

  }

}
</style>
