<template>
<div>
  <v-data-table
    :headers="headers"
    :items="standings"
    :items-per-page="standings.length"
    hide-default-footer
  >
    <template v-slot:[`item.team.name`]="{ item }">
      <div class="team-container" @click="routeTo(`/teams/${item.team.id}`)">
        <div class="image-container">
          <img class="team-image" :src="item.team.logo">
        </div>
        <p class="team-name">{{item.team.name}}</p>
      </div>
    </template>
    <template v-slot:[`item.form`]="{ item }">
      <div class="form-container">
        <component class="form-icon" v-bind:is="icon" v-for="(icon, index) in generateFormArray(item.form)" :key="index"></component>
      </div>
    </template>
  </v-data-table>
</div>
</template>

<script>
import Win from '@/assets/svg/win-lose-draw/win.svg?ico'
import Draw from '@/assets/svg/win-lose-draw/draw.svg?ico'
import Lose from '@/assets/svg/win-lose-draw/lose.svg?ico'

export default {
  name: 'Standings',
  components: { Win, Draw, Lose },
  props: {
    standings: Array
  },
  computed: {
    headers () {
      return [
        {
          text: '',
          align: 'start',
          sortable: false,
          value: 'rank'
        },
        // TODO Meter los nombres de las headers por i18n
        { text: this.$t('components.football.standings.standings.headers.team'), align: 'start', sortable: false, value: 'team.name' },
        { text: this.$t('components.football.standings.standings.headers.points'), align: 'center', sortable: false, value: 'points' },
        { text: this.$t('components.football.standings.standings.headers.played'), align: 'center', sortable: false, value: 'all.played' },
        { text: this.$t('components.football.standings.standings.headers.win'), align: 'center', sortable: false, value: 'all.win' },
        { text: this.$t('components.football.standings.standings.headers.draw'), align: 'center', sortable: false, value: 'all.draw' },
        { text: this.$t('components.football.standings.standings.headers.lose'), align: 'center', sortable: false, value: 'all.lose' },
        { text: this.$t('components.football.standings.standings.headers.goalsFor'), align: 'center', sortable: false, value: 'all.goals.for' },
        { text: this.$t('components.football.standings.standings.headers.goalsAgainst'), align: 'center', sortable: false, value: 'all.goals.against' },
        { text: this.$t('components.football.standings.standings.headers.form'), align: 'center', sortable: false, value: 'form' }
      ]
    }
  },
  methods: {
    parseForm (character) {
      if (character === 'W') return Win
      if (character === 'D') return Draw
      if (character === 'L') return Lose
    },
    generateFormArray (form) {
      return Array.from(form).map(this.parseForm)
    },
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.form {
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-icon {
    height: 1rem;
    width: 1rem;
    margin: 0.2rem;
  }
}
.team {
  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
  }
  &-image {
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
  &-name {
    margin: 0;
    margin-left: 1rem;
    white-space: nowrap;
  }
  &-name:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem; width: 2rem;
  padding: 0.1rem;
}
</style>
