<template>
  <div v-if="league">
    <LeagueHeader :league="league" @change-season="changeSeason"/>
    <v-tabs
      v-model="currentTab"
      align-with-title
    >
      <v-tabs-slider></v-tabs-slider>
      <v-tab
        v-for="tab in tabs"
        :key="tab.name"
        :disabled="!tab.enabled"
      >
        {{ tab.name }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="currentTab">
      <v-tab-item
        v-for="tab in tabs"
        :key="tab.name"
      >
        <component v-if="tab.enabled" v-bind:is="tab.component" v-bind="tab.props"></component>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
// Components
import LeagueHeader from '@/components/football/leagues/utils/LeagueHeader.vue'
import FixtureList from '@/components/football/fixtures/FixtureList.vue'
import StandingsList from '@/components/football/leagues/StandingsList.vue'
import TeamList from '@/components/football/leagues/TeamList.vue'
import TopPlayers from '@/components/football/leagues/TopPlayers.vue'

// API
import LeaguesService from '@/api/logic/leagues/leagues'
import FixtureService from '@/api/logic/fixtures/fixtures'
import TeamsService from '@/api/logic/teams/teams'
import StandingsService from '@/api/logic/standings/standings'
import PlayersService from '@/api/logic/players/players'

const fixtureService = new FixtureService()
const leaguesService = new LeaguesService()
const teamsService = new TeamsService()
const standingsService = new StandingsService()
const playersService = new PlayersService()

export default {
  name: 'League',
  components: { LeagueHeader, FixtureList, StandingsList, TeamList, TopPlayers },
  data: () => ({
    currentTab: 0,
    currentSeason: null,
    league: null,
    fixtures: [],
    teams: [],
    standings: [],
    fullStandings: [],
    top_players: {
      topScorers: [],
      topAssists: [],
      topYellowCards: [],
      topRedCards: []
    }
  }),
  computed: {
    tabs () {
      return [
        { name: this.$t('views.football.leagues.league.tabs.fixtures'), component: FixtureList, props: { fixtures: this.fixtures }, enabled: this.fixtures.length },
        { name: this.$t('views.football.leagues.league.tabs.standings'), component: StandingsList, props: { standings: this.standings }, enabled: this.currentSeason.coverage.standings && this.standings },
        { name: this.$t('views.football.leagues.league.tabs.teams'), component: TeamList, props: { teams: this.teams }, enabled: this.teams.length },
        { name: this.$t('views.football.leagues.league.tabs.topPlayers'), component: TopPlayers, props: { topPlayers: this.top_players }, enabled: this.top_players.topScorers.length }
      ]
    }
  },
  async mounted () {
    await leaguesService.getLeagueById(this.$route.params.leagueId)
      .then(response => {
        this.league = response.data.response[0]
        if (this.$route.query.season) this.currentSeason = this.league.seasons.filter(season => { return season.year.toString() === this.$route.query.season })[0]
        if (!this.currentSeason) this.currentSeason = this.league.seasons.filter(season => { return season.current === true })[0]
        this.updateData(this.league.league.id, this.currentSeason)
      })
      .catch(error => console.error(error))
  },
  methods: {
    updateData (league, season) {
      var diferentSeason = season.year !== this.currentSeason.year
      if (diferentSeason || !this.fixtures.length) this.getFixtures(league, season.year)
      if (diferentSeason || !this.teams.length) this.getTeams(league, season.year)
      if (season.coverage.standings && (diferentSeason || !this.standings.length)) this.getStandings(league, season.year)
      if (season.coverage.top_scorers && (diferentSeason || !this.top_players.topScorers.length)) this.getTopScorers(league, season.year)
      if (season.coverage.top_assists && (diferentSeason || !this.top_players.topAssists.length)) this.getTopAssists(league, season.year)
      if (season.coverage.top_cards) {
        if (diferentSeason || !this.top_players.topYellowCards.length) this.getTopYellowCards(league, season.year)
        if (diferentSeason || !this.top_players.topRedCards.length) this.getTopRedCards(league, season.year)
      }
      if (diferentSeason) this.currentSeason = season
    },
    changeSeason (season) {
      this.updateData(this.league.league.id, season)
      if (this.$route.query.season !== season.year.toString()) this.$router.replace({ name: 'League', params: { leagueId: this.league.league.id }, query: { season: season.year } })
    },
    getFixtures (league, season) {
      return fixtureService.getFixturesByLeague(league, season)
        .then(response => {
          this.fixtures = response.data.response
        })
        .catch(error => console.error(error))
    },
    getTeams (league, season) {
      return teamsService.getTeamsByLeague(league, season)
        .then(response => {
          this.teams = response.data.response
        })
        .catch(error => console.error(error))
    },
    getStandings (league, season) {
      return standingsService.getStandingsByLeague(league, season)
        .then(response => {
          // TODO Cuidado con esto que no se a quien se le ocurrio hacer este endpoint asi
          this.standings = response.data.response[0]
          this.fullStandings = response.data.response
        })
        .catch(error => console.error(error))
    },
    getTopScorers (league, season) {
      return playersService.getTopScorers(league, season)
        .then(response => {
          this.top_players.topScorers = response.data.response
        })
        .catch(error => console.error(error))
    },
    getTopAssists (league, season) {
      return playersService.getTopAssists(league, season)
        .then(response => {
          this.top_players.topAssists = response.data.response
        })
        .catch(error => console.error(error))
    },
    getTopYellowCards (league, season) {
      return playersService.getTopYellowCards(league, season)
        .then(response => {
          this.top_players.topYellowCards = response.data.response
        })
        .catch(error => console.error(error))
    },
    getTopRedCards (league, season) {
      return playersService.getTopRedCards(league, season)
        .then(response => {
          this.top_players.topRedCards = response.data.response
        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
