<template>
  <div>
    <div class="leagues-container">
      <h1>{{$t('views.football.leagues.leagues.spanishLeagues')}}</h1>
      <HorizontalScrollContainers :leagues="countryLeagues" />
    </div>
    <div class="leagues-container">
      <h1>{{$t('views.football.leagues.leagues.allLeagues')}}</h1>
      <LeagueGrid :leagues="leagues"/>
    </div>
  </div>
</template>

<script>
import HorizontalScrollContainers from '@/components/football/leagues/HorizontalScrollContainers'
import LeagueGrid from '@/components/football/leagues/LeagueGrid.vue'

// API
import LeaguesService from '@/api/logic/leagues/leagues'

const leaguesService = new LeaguesService()

export default {
  name: 'Leagues',
  components: { HorizontalScrollContainers, LeagueGrid },
  data: () => ({
    leagues: [],
    countryLeagues: []
  }),
  mounted () {
    leaguesService.getAllCurrentLeagues()
      .then(response => {
        this.leagues = response.data.response
      })
      .catch(error => console.error(error))
    leaguesService.getLeaguesByCountryName('Spain')
      .then(response => {
        this.countryLeagues = response.data.response.slice(0, 20)
      })
      .catch(error => console.error(error))
  }

}
</script>

<style lang="scss" scoped>
</style>
