<template>
  <div>
    <v-img :src="image"></v-img>
    <div>
      <h1>{{title}}<h1>
      <p>{{subtitle}}</p>
      <v-select :items="seasons"></v-select>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Panel',
  props: {
    image: String,
    title: String,
    subtitle: String,
    seasons: Array
  }
}
</script>

<style>

</style>
