<template>
  <div class="team-fixtures-container">
    <table>
      <thead>
        <td v-for="(header, index) in headers" :key="`${index}`">{{header}}</td>
      </thead>
      <tbody>
        <tr v-for="(item, prop, index) in items" :key="`${index}`">
          <td>{{prop}}</td>
          <td>{{item[headers[1]['average']]}}</td>
          <td>{{item[headers[2]]}}</td>
          <td>{{item[headers[3]]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'StatisticsDynamicTable',
  props: {
    headers: Array,
    items: Object
  }
}
</script>

<style lang="scss" scoped>

</style>
