<template>
  <div v-if="statistics" class="team-statistics-table-container">
    <div class="team-form-container">
      <div class="form-header">
        <div class="league-container">
          <div class="league-color"></div>
          <img class="league-image" :src="statistics.league.logo">
          <div class="league-info">
            <p class="league-name">{{statistics.league.name}}</p>
            <p class="league-country">{{statistics.league.country}}</p>
          </div>
        </div>
        <div class="team-container">
          <div class="team-color"></div>
          <img class="team-image" :src="statistics.team.logo">
          <div class="team-info">
            <p class="team-name">{{statistics.team.name}}</p>
            <p class="form">Form</p>
          </div>
        </div>
      </div>
      <div class="form-data">
        <component class="form-icon" v-bind:is="icon" v-for="(icon, index) in generateFormArray(statistics.form)" :key="index"></component>
      </div>
    </div>
    <div class="team-statistics-container">
      <div class="goals-statistics">
        <table class="statistics-table">
          <thead>
            <tr>
              <td>GOALS</td>
              <td>home</td>
              <td>away</td>
              <td>total</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Goals For</td>
              <td>{{statistics.goals.for.total.home}}</td>
              <td>{{statistics.goals.for.total.away}}</td>
              <td>{{statistics.goals.for.total.total}}</td>
            </tr>
            <tr>
              <td>Goals Against</td>
              <td>{{statistics.goals.against.total.home}}</td>
              <td>{{statistics.goals.against.total.away}}</td>
              <td>{{statistics.goals.against.total.total}}</td>
            </tr>
          </tbody>
        </table>
        <table class="statistics-table">
          <thead>
            <tr>
              <td>GOALS AVERAGE</td>
              <td>home</td>
              <td>away</td>
              <td>total</td>
            </tr>
          </thead>
          <tbody>
            <tr class="data">
              <td>Goals For</td>
              <td>{{statistics.goals.for.average.home}}</td>
              <td>{{statistics.goals.for.average.away}}</td>
              <td>{{statistics.goals.for.average.total}}</td>
            </tr>
            <tr class="data">
              <td>Goals Against</td>
              <td>{{statistics.goals.against.average.home}}</td>
              <td>{{statistics.goals.against.average.away}}</td>
              <td>{{statistics.goals.against.average.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <table class="statistics-table">
        <thead>
          <tr>
            <td v-for="(header, index) in headers" :key="`fixtures${index}`">{{header}}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, prop, index) in statistics.fixtures" :key="`fixtures${index}`">
            <td>{{prop}}</td>
            <td>{{item[headers[1]]}}</td>
            <td>{{item[headers[2]]}}</td>
            <td>{{item[headers[3]]}}</td>
          </tr>
        </tbody>
      </table>
      <table class="statistics-table">
        <thead>
          <tr>
            <td>biggest</td>
            <td>home</td>
            <td>away</td>
          </tr>
        </thead>
        <tbody>
          <tr class="data">
            <td>Goals For</td>
            <td>{{statistics.biggest.goals.for.home}}</td>
            <td>{{statistics.biggest.goals.for.away}}</td>
          </tr>
          <tr class="data">
            <td>Goals Against</td>
            <td>{{statistics.biggest.goals.against.home}}</td>
            <td>{{statistics.biggest.goals.against.away}}</td>
          </tr>
          <tr class="data">
            <td>Loses</td>
            <td>{{statistics.biggest.loses.home}}</td>
            <td>{{statistics.biggest.loses.away}}</td>
          </tr>
          <tr class="data">
            <td>Wins</td>
            <td>{{statistics.biggest.wins.home}}</td>
            <td>{{statistics.biggest.wins.away}}</td>
          </tr>
        </tbody>
      </table>
      <table class="statistics-table">
        <thead>
          <tr>
            <td></td>
            <td>home</td>
            <td>away</td>
            <td>total</td>
          </tr>
        </thead>
        <tbody>
          <tr class="data">
            <td>Clean Sheet</td>
            <td>{{statistics.clean_sheet.home}}</td>
            <td>{{statistics.clean_sheet.away}}</td>
            <td>{{statistics.clean_sheet.total}}</td>
          </tr>
          <tr class="data">
            <td>Failed to Score</td>
            <td>{{statistics.failed_to_score.home}}</td>
            <td>{{statistics.failed_to_score.away}}</td>
            <td>{{statistics.failed_to_score.total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="team-goals-container"></div>
  </div>
</template>

<script>
import StatisticsDynamicTable from './StatisticsDynamicTable.vue'
import Win from '@/assets/svg/win-lose-draw/win.svg?ico'
import Draw from '@/assets/svg/win-lose-draw/draw.svg?ico'
import Lose from '@/assets/svg/win-lose-draw/lose.svg?ico'

export default {
  name: 'TeamStatisticstable',
  props: { statistics: Object },
  components: { StatisticsDynamicTable, Win, Draw, Lose },
  computed: {
    headers () {
      return ['fixtures', 'home', 'away', 'total']
    }
  },
  methods: {
    parseForm (character) {
      if (character === 'W') return Win
      if (character === 'D') return Draw
      if (character === 'L') return Lose
    },
    generateFormArray (form) {
      return Array.from(form).map(this.parseForm)
    }
  }
}
</script>

<style lang="scss" scoped>
.team-statistics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.team-statistics-table-container{
  margin: 1rem 0;
}
.team-form-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.team {
  &-container {
    display: flex;
    flex-direction: row;
    background-color: $bgContainer;
  }
  &-color {
    width: 1rem;
    background-color: $primary;
  }
  &-image {
    align-self: center;
    height: 4rem; width: 4rem;
    padding: 0.3rem;
    margin: 0 1rem;
  }
  &-info {
    p { margin: 0; }
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-name {
    font-weight: bold;
  }
}
.form {
  &-data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: thin solid $lightgrey;
  }
  &-icon {
    height: 1rem; width: 1rem;
    margin: 1rem 0.1rem;
  }
}
.goals-statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.league {
  &-container {
    display: flex;
    flex-direction: row;
    background-color: $bgContainer;
    margin-bottom: 1rem;
  }
  &-image{
    align-self: center;
    height: 4rem; width: 4rem;
    padding: 0.3rem;
    margin: 0 1rem;
  }
  &-color{
    width: 1rem;
    background-color: $leagueColor;
  }
  &-info{
    p { margin: 0; }
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-name {
    font-weight: bold;
  }
}
// Data table styling
.statistics-table{
  border-collapse: collapse;
  margin: 2rem 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.statistics-table thead tr {
  background-color: $primary;
  color: white;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}
.statistics-table th,
.statistics-table td {
  padding: 12px 15px;
}

.statistics-table tbody tr {
  border-bottom: thin solid $lightgrey;
}
.statistics-table tbody tr.divider {
  color: $primary;
  font-weight: bold;
}
.statistics-table tbody tr td:first-of-type {
  font-weight: bold;
}
.statistics-table tbody tr td:last-of-type {
  color: $primary;
  font-weight: bold;
}
.statistics-table tbody tr:not(.divider):nth-of-type(even) {
  background-color: #f3f3f3;
}
.statistics-table tbody tr:last-of-type {
  border-bottom:2px solid $primary;
}
</style>
