<template>
  <v-list-item class="team-list-item">
    <div class="team-list-item-container">
      <img class="image" :src="team.team.logo">
      <p class="name">{{team.team.name}}</p>
    </div>
  </v-list-item>
</template>

<script>
export default {
  name: 'TeamListItem',
  props: { team: Object }
}
</script>

<style lang="scss" scoped>
.team-list-item {
  p{
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  padding: 1rem;
  margin: 1rem;

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .image {
      max-width: 5rem;
    }
    .name {
      margin: 2rem;
    }
  }
.team-item::after {
  min-height: 0 !important;
}
}
</style>
