<template>
<div>
  <div class="teams-toolbar">
    <!-- <v-toolbar-title>Country selection</v-toolbar-title> -->
    <v-text-field
      v-model="search"
      :loading="loading"
      append-icon="mdi-magnify"
      :label="$t('components.football.teams.utils.teamGrid.textFieldLabel')"
    ></v-text-field>
  </div>
  <div>
    <div v-if="pages.length" class="team-grid">
      <TeamCard v-for="(team, index) in pages" :key="index" :team='team' />
    </div>
    <div v-else class="no-data">
      <p>{{$t('error.notFound')}}</p>
    </div>
  </div>
  <div class="pagination">
    <v-pagination
      v-model="page"
      :length="pagesLength"
      :total-visible="totalVisiblePages"
    ></v-pagination>
  </div>
</div>
</template>

<script>
import TeamCard from '@/components/football/teams/utils/TeamCard.vue'

export default {
  name: 'TeamGrid',
  components: { TeamCard },
  props: {
    teams: Array
  },
  data: () => ({
    loading: false,
    search: '',
    page: 1,
    itemsPerPage: 24,
    totalVisiblePages: 7
  }),
  computed: {
    searching () {
      if (!this.search) return this.teams

      const search = this.search.toLowerCase()

      return this.teams.filter(team => {
        const text = team.team.name.toLowerCase()
        const text2 = team.team.country.toLowerCase()

        return text.indexOf(search) > -1 || text2.indexOf(search) > -1
      })
    },

    pages () {
      return this.paginate(this.searching, this.itemsPerPage, this.page)
    },

    pagesLength () {
      if (this.searching) {
        if (this.searching.length === 0) {
          return this.searching.length
        } else if (this.searching % this.itemsPerPage === 0) {
          return this.searching.length / this.itemsPerPage
        } else {
          return (Math.floor(this.searching.length / this.itemsPerPage))
        }
      } else {
        return 0
      }
    }
  },
  methods: {
    paginate (array, pageSize, pageNumber) {
      return array.slice((pageNumber - 1) * pageSize, pageNumber * pageSize)
    }
  }
}
</script>

<style lang="scss" scoped>
.team-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 2rem;
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 1rem;
    font-style: italic;
    color: $textgrey;
  }
}
</style>
