<template>
  <v-list-item class="team-transfer-list-item">
    <div class="list-item-header">
      <div class="list-item-player" @click="routeTo(`/players/${transfer.player.id}/${new Date().getFullYear()}`)">
        <img class="list-item-player-image" :src="`https://media.api-sports.io/football/players/${transfer.player.id}.png`">
        <p class="list-item-player-text">{{transfer.player.name}}</p>
      </div>
      <div class="list-item-update">
        <p class="date">{{$t('components.football.teams.utils.teamTransfersListItem.lastUpdate', { data: transformDate(transfer.update) })}}</p>
      </div>
    </div>
    <div class="list-item-transfer">
      <TransferGrid :transferList="transfer.transfers" />
    </div>
  </v-list-item>
</template>

<script>
import TransferGrid from '@/components/football/players/TransferGrid.vue'

export default {
  name: 'TeamTransfersListItem',
  components: { TransferGrid },
  props: { transfer: Object },
  methods: {
    transformDate (date) {
      return new Date(date).toLocaleDateString()
    },
    routeTo (route) {
      if (this.$route.path !== route && this.$route.fullPath !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.team-transfer-list-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  overflow: hidden;
  p {
    margin: 0;
  }
  .list-item {
    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      background-color: $lightgrey;
    }
    &-player {
      display: flex;
      flex-direction: row;
      align-items: center;
      &-image {
        border-radius: 50%;
        margin: 0.3rem 1rem;
        height: 3rem;
        width: 3rem;
      }
      &-text {
        font-weight: bold;
      }
      &-text:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    &-update {
      margin-left: auto;
      .date {
        margin-right: 1rem;
      }
    }
    &-transfer {
      width: 100%;
    }
  }
}
.list-item-player {
  cursor: pointer;
}
.team-transfer-list-item::after {
  min-height: 0 !important;
}
</style>
