<template>
  <div v-if="team" class="team-header">
    <div class="team-header-image-container">
      <img class="team-header-image" :src="team.team.logo">
    </div>
    <div class="team-header-data">
      <p class="team-name">{{team.team.name}}</p>
      <div class="team-header-info">
        <div >
          <p class="founded">{{$t('components.football.teams.utils.teamHeader.founded', { year: team.team.founded})}}</p>
        </div>
        <div>
          <p class="county">{{$t('components.football.teams.utils.teamHeader.country', {country: team.team.country})}}</p>
        </div>
        <p v-if="team.team.national" class="national">{{$t('components.football.teams.utils.teamHeader.national')}}</p>
      </div>
      <v-select
        class="team-season"
        v-model="season"
        @change="changeSeason(season)"
        :items="reversedSeasons"
        :label="$t('components.football.teams.utils.teamHeader.season')"
        item-text="year"
        item-value="year"
        single-line
        return-object
        prepend-icon="mdi-calendar"
      ></v-select>
    </div>
    <div v-if="loggedIn" class="team-buttton-container">
      <div v-if="!teamAdded" class="add-team-container">
        <div class="add-team-button-container">
          <v-btn data-cy="team-addTeam" text outlined class="add-team-button" @click="addTeam()">{{$t('components.football.teams.utils.teamHeader.addTeam')}}</v-btn>
        </div>
        <div class="add-team-colour"></div>
      </div>
      <div v-else class="remove-team-container">
        <div class="remove-team-button-container">
          <v-btn data-cy="team-removeTeam" text outlined class="remove-team-button" @click="removeTeam()">{{$t('components.football.teams.utils.teamHeader.removeTeam')}}</v-btn>
        </div>
        <div class="remove-team-colour"></div>
      </div>
    </div>
  </div>
</template>

<script>
// import Country from '@/components/utils/Country.vue'
// import VenueCard from '@/components/football/teams/utils/VenueCard.vue'
export default {
  name: 'TeamHeader',
  // components: { VenueCard },
  props: {
    team: Object,
    seasons: Array
  },
  data: () => ({ season: '' }),
  computed: {
    loggedIn () { return this.$store.state.user.user.uid },
    teamAdded () { return this.$store.state.user.user.teams.filter(team => team.team.id === this.team.team.id).length },
    teamId () {
      const team = this.$store.state.user.user.teams.filter(team => team.team.id === this.team.team.id)
      if (team.length) return team[0].docId
      else return 0
    },
    reversedSeasons () {
      return [...this.seasons].reverse()
    }
  },
  methods: {
    changeSeason () {
      this.$emit('change-season', this.season)
    },
    addTeam () {
      if (this.loggedIn) {
        const team = this.team
        this.$store.dispatch('addTeam', team)
          .then(() => {
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
          })
          .catch((error) => {
            console.error(error)
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.loginError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      } else { console.error('No estas logueado mazapan') }
    },
    removeTeam () {
      const docId = this.teamId
      if (this.loggedIn && docId) {
        const team = { docId: docId }
        this.$store.dispatch('removeTeam', team)
          .then(() => {
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
          })
          .catch((error) => {
            console.error(error)
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.loginError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      } else { console.error('No estas logueado mazapan') }
    }
  }
}
</script>

<style lang="scss" scoped>
.team-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 2rem 0;

  &-image {
    // height: 240px;
    // width: 240px;
    // border-bottom: 1px solid #eee;
    // box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    // padding: 0.5rem;
    // background-color: $bgContainer;
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
  &-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 260px; min-width: 260px;
    padding: 1rem;
  }
  &-info {
    p {
    }
  }

  &-data {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    .team-name {
      margin: 0;
      font-size: 3rem;
    }
    .team-type {

    }
  }

  &-venue {
    margin: 1rem;
  }
}
.team-buttton-container {
  margin-left: auto;
}
.add-team {
  &-container {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    background-color: $bgContainer;
  }
  &-button {
    align-self: center;
    color: white;
    background-color: $addColor;
  }
  &-button-container {
    padding: 0.5rem 1rem;
  }
  &-colour {
    width: 1rem;
    background-color: $addColor;
  }
}
.remove-team {
  margin-left: auto;
  &-container {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    background-color: $bgContainer;
  }
  &-button {
    align-self: center;
    color: white;
    background-color: $removeColor;
  }
  &-button-container {
    padding: 0.5rem 1rem;
  }
  &-colour {
    width: 1rem;
    background-color: $removeColor;
  }
}
</style>
