<template>
  <v-card class="team-card" @click="routeTo(`/teams/${team.team.id}`)">
    <div class="image-container">
      <img class="team-image" :src="team.team.logo">
    </div>
    <v-card-title class="team-data">
      <p class="team-name">{{team.team.name}}</p>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: 'TeamCard',
  props: {
    team: Object
  },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.team {
  &-card {
    display: flex;
    flex-direction: column;
    transition: all 200ms;
  }

  &-data {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &-name {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    word-break: keep-all;
  }

  &-image {
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px; width: 100%;
    padding: 1rem;
}

.team-card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}
</style>
