<template>
  <div class="venue-card">
    <p class="venue-card-title">{{venue.name}}</p>
    <img class="venue-card-image" :src="venue.image">
    <div class="venue-card-data">
      <p class="address">{{venue.address + ', ' + venue.city}}</p>
      <div class="specs">
        <div class="surface-container">
          <p class="surface-title">{{$t('components.football.teams.utils.venueCard.surface') + ': '}}</p>
          <p class="surface-text">{{venue.surface}}</p>
        </div>
        <div class="capacity-container">
          <p class="capacity-title">{{$t('components.football.teams.utils.venueCard.capacity') + ': '}}</p>
          <p class="capacity-text">{{venue.capacity}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VenueCard',
  props: { venue: Object }
}
</script>

<style lang="scss" scoped>
.venue-card {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }

  &-title {
    font-size: 2rem;
  }

  &-image {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
  }

  &-data {
    .specs{
      display: flex;
      flex-direction: row;
      justify-content: space-between
    }
    .address {
      &-container {
        display: flex;
      }
    }
    .surface {
      &-container {
        display: flex;
      }
      &-title {
        margin-right: 1rem;
      }
    }
    .capacity {
      &-container {
        display: flex;
      }
      &-title {
        margin-right: 1rem;
      }
    }
  }
}
</style>
