<template>
  <v-menu v-if="$store.state.user.user.uid" offset-y>
    <template v-slot:activator="{ on }">
      <v-btn data-cy="AvatarMenu" v-on="on" x-large icon>
        <v-avatar
          size="3rem"
          color="red"
        >
          <span class="bar-avatar-text">{{initials}}</span>
        </v-avatar>
      </v-btn>
    </template>
    <v-card data-cy="AvatarMenu-card">
      <v-list>
        <v-list-item-content>
          <div class="user-container">
            <v-avatar
              size="5rem"
              color="red"
            >
              <span class="card-avatar-text">{{initials}}</span>
            </v-avatar>
            <v-list-item-title data-cy="AvatarMenu-card-name" class="text-h6 user-fullName">{{ $store.state.user.user.name }}</v-list-item-title>
            <v-list-item-subtitle data-cy="AvatarMenu-card-userName">{{ `@${$store.state.user.user.userName}` }}</v-list-item-subtitle>
          </div>
        </v-list-item-content>
        <v-divider></v-divider>
        <v-list-item-content>
          <v-btn
            data-cy="AvatarMenu-card-button"
            v-for="(link, index) in userNavigationLinks.navigation" :key="index"
            @click="$emit('routeTo', `${link.path}/${$store.state.user.user.uid}`)"
            text
          >
            {{link.text}}
          </v-btn>
        </v-list-item-content>
        <v-divider></v-divider>
        <v-list-item-content>
          <v-btn
            data-cy="AvatarMenu-card-logout"
            v-for="(link, index) in userNavigationLinks.disconnect" :key="index"
            @click="$emit('logOut')"
            text
          >
            {{link.text}}
          </v-btn>
        </v-list-item-content>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  name: 'AvatarMenu',
  props: { userNavigationLinks: Object },
  computed: {
    loggedIn () { return this.$store.state.user.user.uid },
    initials () {
      return this.getInitials(this.$store.state.user.user.name)
    }
  },
  methods: {
    getInitials (name) {
      const rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu')
      let initials = [...name.matchAll(rgx)] || []

      initials = (
        (initials.shift()?.[1] || '') + (initials.pop()?.[1] || '')
      ).toUpperCase()
      return initials
    }
  }
}
</script>

<style lang="scss" scoped>
.user {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    max-width: 100%;
  }
  &-fullName {
    font-weight: bold;
    padding: 0.5rem;
  }
}
.bar-avatar-text {
  font-size: 1.5rem;
  color: white;
}
.card-avatar-text {
  font-size: 3rem;
  color: white;
}
</style>
