<template>
<div v-if="loggedIn">
  <!-- Edit User -->
  <v-card flat class="edit-user-card">
    <div>
      <v-form
        ref="editUser"
        v-model="editUserValid"
      >
        <div class="form-actions">
          <v-card-title class="card-title">{{$t('components.user.editUserCard.form.editUser')}}</v-card-title>
          <v-btn
            data-cy="editUser-user-button"
            :disabled="editUserDisabled"
            color="success"
            @click="editUser"
          >
            {{ $t('components.user.editUserCard.form.submit') }}
          </v-btn>
        </div>
        <v-text-field
          data-cy="editUser-user-name"
          v-model="user.name"
          :counter="32"
          :rules="formRules.nameRules"
          :label="$t('components.user.editUserCard.form.name')"
          required
          outlined
          clearable
          @change="editUserDisabled = false"
        ></v-text-field>
        <v-text-field
          data-cy="editUser-user-userName"
          v-model="user.userName"
          :counter="32"
          :rules="formRules.userNameRules"
          :label="$t('components.user.editUserCard.form.userName')"
          required
          outlined
          clearable
          @change="editUserDisabled = false"
        ></v-text-field>
        <v-select
          data-cy="editUser-user-country"
          v-model="user.country"
          :items="countries"
          item-text="name"
          item-value="code"
          :rules="formRules.countryRules"
          :label="$t('components.user.editUserCard.form.country')"
          prepend-inner-icon="mdi-map-marker"
          required
          outlined
          clearable
          @change="editUserDisabled = false"
        ></v-select>
      </v-form>
    </div>
  </v-card>
  <!-- Edit Email -->
  <v-card flat class="edit-email-card">
    <div>
      <v-form
        ref="editEmail"
        v-model="editEmailValid"
      >
        <div class="form-actions">
          <v-card-title class="card-title">{{$t('components.user.editUserCard.form.editEmail')}}</v-card-title>
          <v-btn
            data-cy="editUser-email-button"
            :disabled="editEmailDisabled"
            color="success"
            @click="editEmail"
          >
            {{ $t('components.user.editUserCard.form.submit') }}
          </v-btn>
        </div>
        <v-text-field
          data-cy="editUser-email-email"
          v-model="email"
          :rules="formRules.emailRules"
          :label="$t('components.user.editUserCard.form.email')"
          required
          outlined
          clearable
          @change="editEmailDisabled = false"
        ></v-text-field>
      </v-form>
    </div>
  </v-card>
  <!-- Edit Password -->
  <v-card flat class="edit-password-card">
    <div>
      <v-form
        ref="editPassword"
        v-model="editPasswordValid"
      >
        <div class="form-actions">
          <v-card-title class="card-title">{{$t('components.user.editUserCard.form.editPassword')}}</v-card-title>
          <v-btn
            data-cy="editUser-password-button"
            :disabled="editPasswordDisabled"
            color="success"
            @click="editPassword"
          >
            {{ $t('components.user.editUserCard.form.submit') }}
          </v-btn>
        </div>
        <v-text-field
          data-cy="editUser-password-password"
          v-model="password.password"
          :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="formRules.passwordRules"
          :type="showPass ? 'text' : 'password'"
          :label="$t('components.user.editUserCard.form.password')"
          required
          outlined
          counter
          @click:append="showPass = !showPass"
          clearable
          @change="editPasswordDisabled = false"
        ></v-text-field>
        <v-text-field
          data-cy="editUser-password-passwordRepeat"
          v-model="password.passwordRepeat"
          :append-icon="showRepeatPass ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="formRules.passwordRepeatRules"
          :type="showRepeatPass ? 'text' : 'password'"
          :label="$t('components.user.editUserCard.form.passwordRepeat')"
          required
          outlined
          counter
          @click:append="showRepeatPass = !showRepeatPass"
          clearable
          @change="editPasswordDisabled = false"
        ></v-text-field>
      </v-form>
    </div>
  </v-card>
</div>
</template>

<script>
// eslint-disable-next-line
var emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

export default {
  name: 'EditUserCard',
  props: {
    countries: Array
  },
  data () {
    return {
      editUserValid: false,
      editUserDisabled: true,
      editEmailValid: false,
      editEmailDisabled: true,
      editPasswordValid: false,
      editPasswordDisabled: true,
      showPass: false,
      showRepeatPass: false,
      user: {
        name: '',
        userName: '',
        country: ''
      },
      email: '',
      password: {
        password: '',
        passwordRepeat: ''
      },
      formRules: {
        nameRules: [
          v => !!v || this.$t('components.user.editUserCard.rules.nameRequired'),
          v => (v && v.length <= 32) || this.$t('components.user.editUserCard.rules.nameMaxLength')
        ],
        emailRules: [
          v => !!v || this.$t('components.user.editUserCard.rules.emailRequired'),
          v => emailRegex.test(v) || this.$t('components.user.editUserCard.rules.emailValid')
        ],
        userNameRules: [
          v => !!v || this.$t('components.user.editUserCard.rules.usernameRequired'),
          v => (v && v.length <= 32) || this.$t('components.user.editUserCard.rules.usernameMaxLength')
        ],
        passwordRules: [
          v => !!v || this.$t('components.user.editUserCard.rules.passwordRequired'),
          v => (v && v.length >= 8) || this.$t('components.user.editUserCard.rules.passwordcharactersRequired')
        ],
        passwordRepeatRules: [
          v => !!v || this.$t('components.user.editUserCard.rules.passwordConfirmationRequired'),
          v => (v && (v === this.password.password)) || this.$t('components.user.editUserCard.rules.matchRequired')
        ],
        agreeRules: [
          v => !!v || this.$t('components.user.editUserCard.rules.agree')
        ]
      }
    }
  },
  computed: {
    loggedIn () { return this.$store.state.user.user.uid }
  },
  mounted () {
    if (this.loggedIn) {
      this.user.name = this.$store.state.user.user.name
      this.user.userName = this.$store.state.user.user.userName
      this.user.country = this.$store.state.user.user.country
      this.email = this.$store.state.user.user.email
    }
  },
  methods: {
    editUser () {
      this.$refs.editUser.validate()
      if (this.editUserValid) {
        this.$store.dispatch('editUser', {
          name: this.user.name,
          userName: this.user.userName,
          country: this.user.country
        })
          .then(() => {
            this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.successfullUser'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
            this.editUserDisabled = true
          })
          .catch((error) => {
            const errorCode = error.code
            if (errorCode === 'auth/operation-not-allowed') this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.notAllowed'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/requires-recent-login') this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.recentLogin'), color: 'error', icon: 'mdi-alert-circle' })
            else this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.updateError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      }
    },
    editEmail () {
      this.$refs.editEmail.validate()
      if (this.editEmailValid) {
        this.$store.dispatch('editEmail', this.email)
          .then(() => {
            this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.successfullEmail'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
            this.editEmailDisabled = true
          })
          .catch((error) => {
            const errorCode = error.code
            if (errorCode === 'auth/email-already-in-use') this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.emailInUse'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/invalid-emai') this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.invalidEmai'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/operation-not-allowed') this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.notAllowed'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/requires-recent-login') this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.recentLogin'), color: 'error', icon: 'mdi-alert-circle' })
            else this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.updateError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      }
    },
    editPassword () {
      this.$refs.editPassword.validate()
      if (this.editPasswordValid) {
        this.$store.dispatch('editPassword', this.password.password)
          .then(() => {
            this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.successfullPassword'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
            this.editPasswordDisabled = true
          })
          .catch((error) => {
            const errorCode = error.code
            if (errorCode === 'auth/requires-recent-login') this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.recentLogin'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/operation-not-allowed') this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.notAllowed'), color: 'error', icon: 'mdi-alert-circle' })
            else if (errorCode === 'auth/weak-password') this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.weakPassword'), color: 'error', icon: 'mdi-alert-circle' })
            else this.$emit('show-snackbar', { message: this.$t('components.user.editUserCard.snackbarMessages.updateError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      }
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    }
  }
}
</script>

<style lang="scss" scoped>
.card-title {
  margin: 0 !important;
  padding: 0 !important;
}
.terms-text {
  p { margin: 0 0.25em 0 0; }
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.edit-user-card {
  padding: 1rem;
  margin: 1rem 0;
}
.edit-email-card {
  padding: 1rem;
  margin: 1rem 0;
}
.edit-password-card {
  padding: 1rem;
  margin: 1rem 0;
}
.form-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}
</style>
