<template>
  <v-card class="table-card">
      <v-data-table
      :headers="headers"
      :items="sidelined"
    >
      <template v-slot:[`item.type`]="{ item }">
        <div class="Sidelined-type">
          <v-icon class="Sidelined-type-icon" color="red">{{sidelinedType(item.type)}}</v-icon>
          <p class="Sidelined-type-text">{{item.type}}</p>
        </div>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  name: 'SidelinedTable',
  props: {
    sidelined: Array
  },
  data: () => ({
    headers: [
      // TODO Meter los nombres de las headers por i18n
      { text: 'Type', value: 'type', sortable: false, align: 'center' },
      { text: 'Start', value: 'start', align: 'center' },
      { text: 'End', value: 'end', align: 'center' }
    ]
  }),
  methods: {
    sidelinedType (tipo) {
      if (tipo === 'Suspended') return 'mdi-cards'
      else return 'mdi-hospital-box-outline'
    }
  }
}
</script>

<style lang="scss" scoped>
.Sidelined {
  &-type {
    &-icon {
    }
    &-text {
      margin: 0;
    }
  }
}
.table-card{
  margin: 1rem;
}
</style>
