// Breakpoints
$mobile-portrait: 640px;
$tablet-portrait: 768px;

$primary: #1976d2;
$lightgrey: #eee;
$textgrey: rgb(119, 119, 119);
$success: #4CAF50 ;
$error: #FF5252;

// Lineups Field
$homeTeamColor: #08BDBD;
$awayTeamColor: #F21B3F;

$homeTeamColor2: #FF9914;
$leagueColor: #FF9914;

// Background

$bgColor: #fff;
$bgContainer: #eee;
// $bgColor: #eee;
// $bgContainer: #fff;

// Buttons
$addColor: #1976d2;
$removeColor: #F21B3F;

// Pruebas
$colorChulo: #F5D44E;
$otroColorChulo: #F2C511;
$NoEsMalColorPrimario: #0E5193;

$aquaColor: #09989e;
$goldColor: #c79864;
$redColor: #dc2e44;
$blueColor: #2181d6;
$greenColor: #399863;
$purbleColor: #5a63cc;
$roseColor: #c12995;


$float-left: left;
$float-right: right;

$text-left: left;
$text-right: right;
$text-center: center;

$extraLarge: "(min-width: 1200px)";
$large: "(min-width: 992px) and (max-width: 1199.98px)";
$medium: "(min-width: 768px) and (max-width: 991.98px)";
$small: "(max-width: 767.98px)";
$extraSmall: "(max-width: 575.98px)";
$smallMobile: "(max-width: 399.98px)";

.view-bottom-margin {
  margin-bottom: 2rem;
}