<template>
  <div>
    <LeagueGrid :leagues="leagues" />
  </div>
</template>

<script>
import LeagueGrid from '@/components/football/leagues/LeagueGrid.vue'

export default {
  nmae: 'TeamLeagues',
  components: { LeagueGrid },
  props: { leagues: Array }
}
</script>

<style lang="scss" scoped>

</style>
