<template>
  <div>
    <v-list class="team-transfer-list">
      <TeamTransfersListItem v-for="(transfer, index) in pages" :key="index" :transfer="transfer" />
    </v-list>
    <v-pagination
      v-model="page"
      :length="pagesLength"
      :total-visible="totalVisiblePages"
    ></v-pagination>
  </div>
</template>

<script>
import TeamTransfersListItem from '@/components/football/teams/utils/TeamTransfersListItem.vue'

export default {
  name: 'TeamTransfersList',
  components: { TeamTransfersListItem },
  props: { transfers: Array },
  data: () => ({
    page: 1,
    itemsPerPage: 10,
    totalVisiblePages: 7
  }),
  computed: {
    pages () {
      return this.paginate(this.transfers, this.itemsPerPage, this.page)
    },

    pagesLength () {
      if (this.transfers) {
        if (this.transfers.length === 0) {
          return this.transfers.length
        } else if (this.transfers % this.itemsPerPage === 0) {
          return this.transfers.length / this.itemsPerPage
        } else {
          return (Math.floor(this.transfers.length / this.itemsPerPage))
        }
      } else {
        return 0
      }
    }
  },
  methods: {
    paginate (array, pageSize, pageNumber) {
      return array.slice((pageNumber - 1) * pageSize, pageNumber * pageSize)
    }
  }
}
</script>

<style lang="scss" scoped>
.team-transfer-list {
  width: 100%;
}
</style>
