<template>
  <TeamHeader :team="team">
</template>

<script>
import TeamHeader from './utils/TeamHeader.vue'
export default {
  name: 'Team',
  components: { TeamHeader }
}
</script>

<style lang="scss" scoped>

</style>
