<template>
  <div class="team-statistics-container">
    <div class="team-statistics-toolbar">
      <div class="selector-container">
        <v-select
          v-model="season"
          :items="seasons"
          :label="$t('components.football.teams.teamStatistics.selectors.season')"
          @change="updateStatistics()"
        ></v-select>
      </div>
      <div class="selector-container">
        <v-select
          v-model="league"
          :items="leagues"
          item-text="league.name"
          item-value="league"
          :label="$t('components.football.teams.teamStatistics.selectors.league')"
          @change="updateStatistics()"
        ></v-select>
      </div>
    </div>
    <div v-if="!(season && league)" class="no-data">
      <p>{{$t('error.infoRequired')}}</p>
    </div>
    <div v-else-if="season && league && statistics">
      <div class="team-statistics-table">
        <TeamStatisticsTable :statistics="statistics" />
      </div>
    </div>
    <div v-else class="no-data">
      <p>{{$t('error.noData')}}</p>
    </div>
  </div>
</template>

<script>
import TeamStatisticsTable from './utils/TeamStatisticsTable.vue'

// API
import TeamsService from '@/api/logic/teams/teams'

const teamsService = new TeamsService()

export default {
  name: 'TeamStatistics',
  components: { TeamStatisticsTable },
  props: {
    team: Object,
    seasons: Array,
    leagues: Array
  },
  data: () => ({
    season: '',
    league: null,
    statistics: null
  }),
  methods: {
    updateStatistics () {
      if (this.team && this.league && this.season) this.getTeamStatistics(this.team.team.id, this.league.id, this.season)
    },
    getTeamStatistics (teamId, league, season) {
      teamsService.getTeamStatistics(teamId, league, season)
        .then(response => {
          this.statistics = response.data.response
        })
        .catch(error => console.error(error))
    }
  }

}
</script>

<style lang="scss" scoped>
.team-statistics-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $bgColor;
  gap: 1rem;
  .selector-container {
    padding: 0 1rem;
    margin: 0 0 1rem 0;
    background-color: $bgContainer;
    width: 100%;
  }
}
.team-statistics-container {
  background-color: $bgColor;
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 1rem;
    font-style: italic;
    color: $textgrey;
  }
}
</style>
