<template>
  <div>
    <CoachHeader :coach="coach" />
    <v-tabs
      v-model="currentTab"
      align-with-title
    >
      <v-tabs-slider></v-tabs-slider>
      <v-tab
        v-for="tab in tabs"
        :key="tab.name"
      >
        {{ tab.name }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="currentTab">
      <v-tab-item
        v-for="tab in tabs"
        :key="tab.name"
      >
        <component v-if="tab.enabled" v-bind:is="tab.component" v-bind="tab.props"></component>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import CoachHeader from '@/components/football/coachs/utils/CoachHeader.vue'
import CareerGrid from '@/components/football/coachs/CareerGrid.vue'
import TrophieTable from '@/components/football/trophies/TrophieTable.vue'
import SidelinedTable from '@/components/football/sidelined/SidelinedTable.vue'

import CoachsService from '@/api/logic/coachs/coachs'
import TrophiesService from '@/api/logic/trophies/trophies'
import SidelinedService from '@/api/logic/sidelined/sidelined'

const coachsService = new CoachsService()
const trophiesService = new TrophiesService()
const sidelinedService = new SidelinedService()

export default {
  name: 'Coach',
  components: { CoachHeader, CareerGrid, TrophieTable, SidelinedTable },
  data: () => ({
    currentTab: 0,
    coach: null,
    career: [],
    trophies: [],
    sidelined: []
  }),
  computed: {
    tabs () {
      return [
        { name: this.$t('views.football.coachs.coach.tabs.career'), component: CareerGrid, props: { careerList: this.career }, enabled: this.career.length },
        { name: this.$t('views.football.coachs.coach.tabs.trophies'), component: TrophieTable, props: { trophies: this.trophies }, enabled: this.trophies.length },
        { name: this.$t('views.football.coachs.coach.tabs.sidelined'), component: SidelinedTable, props: { sidelined: this.sidelined }, enabled: this.sidelined.length }
      ]
    }
  },
  mounted () {
    coachsService.getCoachById(this.$route.params.coachId)
      .then(response => {
        this.coach = response.data.response[0]
        this.career = response.data.response[0].career
        this.getTrophies(this.coach.id)
        this.getSidelined(this.coach.id)
      })
      .catch(error => console.error(error))
  },
  methods: {
    getTrophies (coachId) {
      trophiesService.getTrophiesByPlayer(coachId)
        .then(response => {
          this.trophies = response.data.response
        })
        .catch(error => console.error(error))
    },

    getSidelined (coachId) {
      sidelinedService.getSidelinedByPlayer(coachId)
        .then(response => {
          this.sidelined = response.data.response
        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
