<template>
  <div>
    <FixtureHeader :fixture="fixture" />
    <v-tabs
      v-model="currentTab"
      align-with-title
    >
      <v-tabs-slider></v-tabs-slider>
      <v-tab
        v-for="tab in tabs"
        :key="tab.name"
        :disabled="!tab.enabled"
      >
        {{ tab.name }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="currentTab">
      <v-tab-item
        v-for="tab in tabs"
        :key="tab.name"
      >
        <component v-if="tab.enabled" v-bind:is="tab.component" v-bind="tab.props"></component>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import FixtureHeader from '@/components/football/fixtures/utils/FixtureHeader.vue'
import Events from '@/components/football/fixtures/Events.vue'
import Head2Head from '@/components/football/fixtures/Head2Head.vue'
import Lineups from '@/components/football/fixtures/Lineups.vue'
import MatchStatistics from '@/components/football/fixtures/MatchStatistics.vue'

import FixtureService from '@/api/logic/fixtures/fixtures'
import Head2HeadService from '@/api/logic/fixtures/head2head'
import EventsService from '@/api/logic/fixtures/events'
import LineupsService from '@/api/logic/fixtures/lineups'

const fixtureService = new FixtureService()
const head2HeadService = new Head2HeadService()
const eventsService = new EventsService()
const lineupsService = new LineupsService()

export default {
  name: 'Fixture',
  components: { FixtureHeader, Events, Head2Head, Lineups, MatchStatistics },
  data: () => ({
    currentTab: 0,
    fixture: null,
    head2HeadList: [],
    lineups: [],
    events: [],
    statistics: []
  }),
  computed: {
    tabs () {
      if (this.fixture) {
        return [
          { name: this.$t('views.football.fixtures.fixture.tabs.events'), component: Events, props: { eventos: this.fixture.events, teams: this.fixture.teams, league: this.fixture.league }, enabled: this.fixture.events.length },
          { name: this.$t('views.football.fixtures.fixture.tabs.head2Head'), component: Head2Head, props: { head2HeadList: this.head2HeadList }, enabled: this.head2HeadList.length },
          { name: this.$t('views.football.fixtures.fixture.tabs.lineups'), component: Lineups, props: { lineups: this.fixture.lineups, league: this.fixture.league }, enabled: this.fixture.lineups.length },
          { name: this.$t('views.football.fixtures.fixture.tabs.MatchStatistics'), component: MatchStatistics, props: { statistics: this.fixture.statistics }, enabled: this.fixture.statistics.length }
        ]
      } else {
        return null
      }
    }
  },
  mounted () {
    this.getFixture(this.$route.params.id)
  },
  methods: {
    getFixture (id) {
      fixtureService.getFixtureById(this.$route.params.id)
        .then(response => {
          this.fixture = response.data.response[0]
          this.events = response.data.response[0].events
          this.lineups = response.data.response[0].lineups
          this.statistics = response.data.response[0].statistics
          this.updateData(this.fixture.fixture.id, this.fixture.teams.home.id, this.fixture.teams.away.id)
        })
        .catch(() => {})
    },
    updateData (fixtureId, homeTeam, awayTeam) {
      if (!this.head2HeadList.length) this.getHeadToHead(homeTeam, awayTeam)
      if (!this.lineups.length) this.getLineups(fixtureId)
      if (!this.events.length) this.getEvents(fixtureId)
    },
    getHeadToHead (homeTeam, awayTeam) {
      head2HeadService.getHead2HeadId(homeTeam, awayTeam)
        .then(response => {
          this.head2HeadList = response.data.response
        })
        .catch(() => {})
    },
    getLineups (fixtureId) {
      lineupsService.getLineupId(fixtureId)
        .then(response => {
          this.lineups = response.data.response
        })
        .catch(() => {})
    },
    getEvents (fixtureId) {
      eventsService.getEventId(fixtureId)
        .then(response => {
          this.events = response.data.response
        })
        .catch(() => {})
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
