<template>
  <v-list-item class="career-list-item">
    <div class="career-list-item-container">
      <div class="career-data">
        <img class="image" :src="career.team.logo">
        <p class="name">{{career.team.name}}</p>
      </div>
      <div class="career-date">
        <p class="end">{{career.end}}</p>
        <p class="start">{{career.start}}</p>
      </div>
    </div>
  </v-list-item>
</template>

<script>
export default {
  name: 'CareerListItem',
  props: { career: Object }
}
</script>

<style lang="scss" scoped>
.career-list-item {
  display: flex;
  flex-direction: row;
  &-container {
    display: flex;
  }
}
</style>
