<template>
  <v-card class="career-card" @click="routeTo(`/teams/${team.team.id}?season=${team.end ? new Date(team.end).getFullYear() : new Date().getFullYear()}`)">
    <div class="career-card-container">
      <div class="career-image-container">
        <img class="career-image" :src="team.team.logo">
      </div>
      <div class="career-data">
        <p class="name">{{team.team.name}}</p>
        <div class="career-date">
          <p class="end">{{$t('components.football.coachs.utils.careerCard.end', {date: team.end ? dateToLocale(team.end)[0] : $t('components.football.coachs.utils.careerCard.now') })}}</p>
          <p class="start">{{$t('components.football.coachs.utils.careerCard.start',{date: dateToLocale(team.start)[0]})}}</p>
        </div>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'CareerListItem',
  props: { team: Object },
  methods: {
    dateToLocale (date) {
      var tempDate = new Date(date)
      const dateOptions = { year: 'numeric', month: 'numeric', day: 'numeric' }
      const timeOptions = { hour12: true, hour: '2-digit', minute: '2-digit' }
      return [tempDate.toLocaleDateString(this.$root.$i18n.locale, dateOptions), tempDate.toLocaleTimeString(this.$root.$i18n.locale, timeOptions)]
    },
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.career-card {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  p { margin: 0; }
  &-container {
    display: flex;
    flex-direction: row;
    .name {
      font-weight: bold;
    }
  }
}
.career-data{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1rem;
}
.career-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem; height: 7rem;
  padding: 0.6rem;
}
.career-image {
  display: block;
  max-width:100%;
  max-height:100%;
  width:100%;
  height:100%;
  object-fit: contain;
}
</style>
