<template>
  <div v-if="coach" class="coach-header">
    <img  class="coach-header-image" :src="coach.photo">
    <div class="coach-header-data">
      <div>
        <p class="coach-name">{{coach.name}}</p>
        <p class="coach-fullname">{{coach.lastname + ', ' + coach.firstname}}</p>
      </div>
      <div>
        <div class="coach-birth">
          <p class="coach-birth-date">{{$t('components.football.coachs.utils.coachHeader.birthDate', { data: dateToLocale(coach.birth.date)[0] })}}</p>
          <p class="coach-birth-place">{{$t('components.football.coachs.utils.coachHeader.birthPlace', { data: `${coach.birth.place}, ${coach.birth.country}` })}}</p>
        </div>
        <div class="coach-height-weight-container">
          <p class="coach-age">{{$t('components.football.coachs.utils.coachHeader.age', { data: coach.age })}}</p>
          <p class="coach-height">{{$t('components.football.coachs.utils.coachHeader.height', { data: coach.height })}}</p>
          <p class="coach-weight">{{$t('components.football.coachs.utils.coachHeader.weight', { data: coach.weight })}}</p>
        </div>
        <p class="coach-nationality">{{$t('components.football.coachs.utils.coachHeader.nationality', { data: coach.nationality })}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CoachHeader',
  props: { coach: Object },
  methods: {
    dateToLocale (date) {
      var tempDate = new Date(date)
      const dateOptions = { year: 'numeric', month: 'long', day: 'numeric' }
      const timeOptions = { hour12: true, hour: '2-digit', minute: '2-digit' }
      return [tempDate.toLocaleDateString(this.$root.$i18n.locale, dateOptions), tempDate.toLocaleTimeString(this.$root.$i18n.locale, timeOptions)]
    }
  }
}
</script>

<style lang="scss" scoped>
.coach-header {
  p { margin: 0; }
  display: flex;
  flex-direction: row;
  // background-color: $lightgrey;
  &-image {
    border-radius: 50%;
    height: 15rem; width: 15rem;
    margin: 1rem;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  }
  &-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
  }
}
.coach {
  &-name {
    font-size: 3rem;
    font-weight: bold;
  }
  &-fullname {
    font-size: 1.5rem;
    color: $textgrey;
  }
  &-birth {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &-place::before {
      content: '-';
      margin: 0 0.5rem;
    }
  }
  &-height {
    margin-right: 1rem !important;
  }
  &-age {
    margin-right: 1rem !important;
  }
}
.coach-height-weight-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>
