<template>
  <v-card class="coach-card" @click="routeTo(`/coachs/${coach.id}`)">
    <v-avatar
      class="coach-image"
      width="100%"
      height="auto"
    >
      <img
        :src="coach.photo"
      >
    </v-avatar>
    <v-card-title class="coach-name">
      {{coach.name}}
    </v-card-title>
    <v-card-subtitle class="coach-position">{{$t('components.football.coachs.utils.coachCard.coach')}}</v-card-subtitle>
  </v-card>
</template>

<script>
export default {
  name: 'CoachCard',
  props: {
    coach: Object,
    season: Object
  },
  methods: {
    // TODO arreglar lo del ruteo que hace falta la temporada
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.coach {
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
  }
  &-image {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    margin: 0;
  }
  &-name {
    text-align: center;
  }
}
.coach-card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}

</style>
