<template>
  <v-list-item class="coach-list-item">
    <div class="coach-list-item-container">
      <img class="player-image" :src="coach.photo">
      <p class="player-name">{{coach.name}}</p>
    </div>
  </v-list-item>
</template>

<script>
export default {
  name: 'CoachListItem',
  props: { coach: Object }
}
</script>

<style lang="scss" scoped>
.coach-list-item {
  display: flex;
  flex-direction: row;
  &-container {
    display: flex;
  }
}
</style>
