<template>
  <v-app-bar app color="primary" dark>
    <div class="app-bar-links-container">
      <div class="app-bar-left">
        <v-app-bar-nav-icon data-cy="bar-nav-icon" class="btn-horizontal-magin" v-if="navIcon" @click.stop="$emit('update-drawer-state')"></v-app-bar-nav-icon>
        <div class="app-bar-logo">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2 app-image"
            contain
            @click="$emit('routeTo', '/')"
            :src="require('@/assets/svg/logo/WF_Logo_Grande.svg')"
            transition="scale-transition"
            width="250"
          />
        </div>
      </div>
      <div class="navigation-links-container">
        <v-btn
          class="btn-horizontal-magin"
          v-for="link in navigationLinks"
          :key="link.name"
          @click="$emit('routeTo', link.path)"
          text
          rounded
        >
          {{ link.text }}
        </v-btn>
      </div>
      <div class="app-bar-right">
        <LocaleSwitcher />
        <div data-cy="acess-buttons" class="user-access-links-container" v-if="!loggedIn">
          <v-btn
          class="btn-horizontal-magin"
            v-for="link in userAccessLinks"
            :key="link.name"
            @click="$emit('routeTo', link.path)"
            rounded
            outlined
          >
            {{ link.text }}
          </v-btn>
        </div>
        <AvatarMenu @logOut="logOut" @routeTo="routeTo" v-else :userNavigationLinks="userNavigationLinks"/>
      </div>
    </div>
  </v-app-bar>
</template>
<script>
import LocaleSwitcher from '../localization/LocaleSwitcher'
import AvatarMenu from '../user/AvatarMenu.vue'

export default {
  name: 'AppBar',
  props: {
    navigationLinks: Array,
    userAccessLinks: Array,
    userNavigationLinks: Object,
    navIcon: Boolean
  },
  components: { LocaleSwitcher, AvatarMenu },
  computed: {
    loggedIn () { return this.$store.state.user.user.uid },
    links () { return [this.$t('components.navigation.links.home'), this.$t('components.navigation.links.aboutUs'), this.$t('components.navigation.links.team'), 'Services', 'Blog', 'Contact Us'] }
  },
  data: () => ({
  }),
  methods: {
    routeTo (route) {
      this.$emit('routeTo', route)
    },
    logOut () {
      if (this.loggedIn) {
        this.$store.dispatch('signOut')
          .then(() => {
            this.$emit('show-snackbar', { message: this.$t('components.navigation.navigationDrawer.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
            setTimeout(() => {
              if (this.$route.path !== '/') {
                this.$router.push('/')
              }
            }, 2000)
          })
          .catch(() => {
            this.$emit('show-snackbar', { message: this.$t('components.navigation.navigationDrawer.snackbarMessages.error'), color: 'error', icon: 'mdi-alert-circle' })
          })
      }
    }
  }
}
</script>
<style scoped lang="scss">
.app-bar-links-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-access-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.navigation-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.app-bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.app-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.app-bar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.app-bar-logo:hover {
  cursor: pointer;
}
.btn-horizontal-magin {
  margin: 0 0.2rem;
}
</style>
