<template>
  <v-footer app absolute color="primary lighten-1" padless>
    <v-card
      flat
      tile
      class="primary lighten-1 white--text text-center"
    >
      <v-card-text>
        <v-btn
          v-for="link in socialLinks"
          :key="link.name"
          class="mx-4 white--text"
          icon
        >
          <v-icon size="24px">
            {{ link.icon }}
          </v-icon>
        </v-btn>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="footer white--text">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img :alt="$t('license.imageAlt')" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />{{$t('license.text')}} <a class="footer-link" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">{{$t('license.link')}}</a>.
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text primary lighten-2">
        {{ new Date().getFullYear() }} — <strong>{{$t('app.name')}}</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>
<script>
export default {
  name: 'Footer',
  data: () => ({
    links: ['Home', 'About Us', 'Team', 'Services', 'Blog', 'Contact Us']
  }),
  props: {
    socialLinks: Array
  }
}
</script>
<style lang="scss" scoped>
.footer {
  width: 100vw
}
.footer-link {
  color: white;
  font-weight: bold;
}
</style>
