<template>
  <div>
    <!-- TODO ver como organizar bien esto -->
    <AppBar @show-snackbar="showSnackBar" navIcon @routeTo='routeTo' @update-drawer-state='updateDrawerState' :userAccessLinks='userAccessLinks' :navigationLinks='navigationLinks' :userNavigationLinks="userNavigationLinks"/>
    <NavigationDrawer @show-snackbar="showSnackBar" @routeTo='routeTo' ref="navigationDrawer" :userAccessLinks='userAccessLinks' :navigationLinks='navigationLinks' :userNavigationLinks="userNavigationLinks"/>
    <Footer :socialLinks='socialLinks'/>
    <v-snackbar
      v-model="snackbar.state"
      :timeout="4000"
      :color="snackbar.color"
      centered
      top
    >
    <div data-cy="NavigationHandler-snackbar" class="snackbar-content">
      <v-icon>{{snackbar.icon}}</v-icon>
      {{snackbar.message}}
    </div>
    </v-snackbar>
  </div>
</template>
<script>
import AppBar from './AppBar'
import NavigationDrawer from './NavigationDrawer'
import Footer from './Footer'

export default {
  name: 'NavigationHandler',
  components: { AppBar, NavigationDrawer, Footer },
  data: () => ({
    snackbar: {
      state: false,
      color: '',
      message: '',
      icon: ''
    }
  }),
  computed: {
    navigationLinks () {
      return [
        { name: 'Home', path: '/', text: this.$t('links.navigationLinks.home'), icon: 'mdi-home' },
        // { name: 'About', path: '/about', text: this.$t('links.navigationLinks.about'), icon: 'mdi-help-box' },
        { name: 'Countries', path: '/countries', text: this.$t('links.navigationLinks.countries'), icon: 'mdi-earth' },
        { name: 'Leagues', path: '/leagues', text: this.$t('links.navigationLinks.leagues'), icon: 'mdi-soccer' }
      ]
    },
    userAccessLinks () {
      return [
        { name: 'SignIn', path: '/signIn', text: this.$t('links.userAccessLinks.signIn'), icon: 'mdi-login' },
        { name: 'SignUp', path: '/signUp', text: this.$t('links.userAccessLinks.signUp'), icon: 'mdi-account-plus' }
      ]
    },
    socialLinks () {
      return [
        { name: 'Instagram', link: '', text: this.$t('links.socialLinks.instagram'), icon: 'mdi-instagram' },
        { name: 'Linkedin', link: '', text: this.$t('links.socialLinks.linkedin'), icon: 'mdi-linkedin' },
        { name: 'Facebook', link: '', text: this.$t('links.socialLinks.facebook'), icon: 'mdi-facebook' },
        { name: 'Twitter', link: '', text: this.$t('links.socialLinks.twitter'), icon: 'mdi-twitter' }
      ]
    },
    userNavigationLinks () {
      return {
        navigation: [
          { name: 'Profile', path: '/user', text: this.$t('links.userNavigationLinks.navigation.profile'), icon: '' },
          { name: 'EditProfile', path: '/user/edit', text: this.$t('links.userNavigationLinks.navigation.editProfile'), icon: '' }
        ],
        disconnect: [
          { name: 'Disconnect', path: '', text: this.$t('links.userNavigationLinks.disconnect.disconnect'), icon: 'mdi-logout-variant' }
        ]
      }
    }
  },
  methods: {
    // TODO cambiar la comprobacion de ruta y name
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    },
    updateDrawerState () {
      this.$refs.navigationDrawer.updateDrawerState()
    },
    showSnackBar (data) {
      this.snackbar.state = true
      this.snackbar.message = data.message
      this.snackbar.color = data.color
      this.snackbar.icon = data.icon
    }
  }
}
</script>
<style lang="scss" scoped>

</style>
