<template>
  <v-navigation-drawer data-cy="navigation-drawer" app v-model="drawerState" temporary>
    <template v-slot:prepend>
      <div class="header" v-if="loggedIn">
        <v-list-item two-line class="user-container">
          <v-list-item-avatar>
            <v-avatar
              size="48"
              color="red"
            >
              <img v-if="$store.state.user.user.image" :src="$store.state.user.user.image">
              <span v-else class="white--text text-h5">{{initials}}</span>
            </v-avatar>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{$store.state.user.user.name}}</v-list-item-title>
            <v-list-item-subtitle>{{`@${$store.state.user.user.userName}`}}</v-list-item-subtitle>
          </v-list-item-content>
          <v-btn fab small plain @click="updateDrawerState">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-list-item>
      </div>
      <div class="header" v-else>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">
              {{ $t('app.name') }}
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ $t('app.subtext') }}
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-btn fab small plain @click="updateDrawerState">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-list-item>
      </div>
    </template>
    <v-divider></v-divider>
    <div v-if="loggedIn" class="list-content">
      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="link in userNavigationLinks.navigation"
          :key="link.name"
          @click="$emit('routeTo', `${link.path}/${$store.state.user.user.uid}`)"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
    </div>
    <div class="list-content">
      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="link in navigationLinks"
          :key="link.name"
          @click="$emit('routeTo', link.path)"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </div>
    <template v-slot:append>
      <v-divider></v-divider>
      <div v-if="!loggedIn">
        <v-list
          dense
          nav
        >
          <v-list-item
            data-cy="navigation-drawer-acess-links"
            v-for="link in userAccessLinks"
            :key="link.name"
            @click="$emit('routeTo', link.path)"
            link
          >
            <v-list-item-icon>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ link.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
      <div v-else>
        <v-list
          dense
          nav
        >
          <v-list-item
            v-for="link in userNavigationLinks.disconnect"
            :key="link.name"
            @click="logOut()"
            link
          >
            <v-list-item-icon>
              <v-icon>{{ link.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ link.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
    </template>
  </v-navigation-drawer>
</template>
<script>
export default {
  name: 'NavigationDrawer',
  props: {
    navigationLinks: Array,
    userAccessLinks: Array,
    userNavigationLinks: Object
  },
  data: () => ({
    drawerState: false
  }),
  computed: {
    loggedIn () { return this.$store.state.user.user.uid },
    initials () {
      return this.getInitials(this.$store.state.user.user.name)
    }
  },
  methods: {
    updateDrawerState () {
      this.drawerState = !this.drawerState
    },
    getInitials (name) {
      const rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu')
      let initials = [...name.matchAll(rgx)] || []

      initials = (
        (initials.shift()?.[1] || '') + (initials.pop()?.[1] || '')
      ).toUpperCase()
      return initials
    },
    logOut () {
      if (this.loggedIn) {
        this.$store.dispatch('signOut')
          .then(() => {
            this.$emit('show-snackbar', { message: this.$t('components.navigation.navigationDrawer.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
            setTimeout(() => {
              if (this.$route.path !== '/') {
                this.$router.push('/')
              }
            }, 2000)
          })
          .catch(() => {
            this.$emit('show-snackbar', { message: this.$t('components.navigation.navigationDrawer.snackbarMessages.error'), color: 'error', icon: 'mdi-alert-circle' })
          })
      }
    }
  }
}
</script>
<style scoped lang="scss">
.header {
  display: flex;
}
.user-container {
  max-width: 100%;
}
</style>
