<template>
  <div class="about">
    <h1>This is an about page</h1>
    <HorizontalScrollContainers />
  </div>
</template>

<script>
import HorizontalScrollContainers from '@/components/football/leagues/HorizontalScrollContainers'

export default {
  name: 'About',
  components: { HorizontalScrollContainers }

}
</script>

<style>

</style>
