<template>
  <div>
    <LeagueGrid />
  </div>
</template>

<script>
import LeagueGrid from '@/components/football/leagues/LeagueGrid.vue'

export default {
  name: 'ComponentTesting',
  components: { LeagueGrid },
  data () {
    return {
      league: {
        league: {
          id: '39',
          name: 'Premier League',
          logo: 'https://media.api-sports.io/football/leagues/2.png'
        },
        country: {
          name: 'England',
          flag: 'https://media.api-sports.io/flags/gb.svg'
        }
      },
      localStats: {
        type: 'Tus Muertos',
        value: 4
      },
      awayStats: {
        type: 'Tus Muertos',
        value: 5
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
