<template>
  <div class="home">
    <div class="carrousel-container">
      <FixtureCarrousel :fixtures="fixtures"/>
    </div>
    <div class="leagues-container">
      <p class="leagues-title">{{$t('views.home.spanishLeagues')}}</p>
      <HorizontalScrollContainers :leagues="leagues"/>
    </div>
    <div class="leagues-container">
      <p class="leagues-title">{{$t('views.home.spanishTeams')}}</p>
      <TeamList :teams="teams" />
    </div>
  </div>
</template>

<script>
import FixtureCarrousel from '@/components/football/fixtures/utils/FixtureCarrousel.vue'
import HorizontalScrollContainers from '@/components/football/leagues/HorizontalScrollContainers'
import TeamList from '@/components/football/leagues/TeamList.vue'

import FixtureService from '@/api/logic/fixtures/fixtures'
import TeamsService from '@/api/logic/teams/teams'
import LeaguesService from '@/api/logic/leagues/leagues'

const fixtureService = new FixtureService()
const teamsService = new TeamsService()
const leaguesService = new LeaguesService()

export default {
  name: 'Home',
  components: {
    FixtureCarrousel,
    HorizontalScrollContainers,
    TeamList
  },
  data: () => ({
    fixtures: [],
    leagues: [],
    teams: []
  }),
  mounted () {
    this.getLiveFixtures()
    this.getTeams('Spain')
    this.getLeagues('Spain')
  },
  methods: {
    getLiveFixtures () {
      fixtureService.getFixturesByLive()
        .then(response => {
          this.fixtures = response.data.response
        })
        .catch(() => {})
    },
    getTeams (country) {
      return teamsService.getTeamsByCountry(country)
        .then(response => {
          this.teams = response.data.response
        })
        .catch(error => console.error(error))
    },
    getLeagues (country) {
      return leaguesService.getLeaguesByCountryName(country)
        .then(response => {
          this.leagues = response.data.response.slice(0, 20)
        })
        .catch(error => console.error(error))
    }
  }
}
</script>
<style lang="scss" scoped>
.leagues-container {
  margin: 4rem 2rem;
}
.leagues-title {
  font-size: 2rem;
  font-weight: bold;
}
.carrousel-container {
  margin: 2rem;
}
</style>
