<template>
  <div class="signIn-view">
    <div class="video-container">
      <video playsinline autoplay muted loop poster="~@/assets/videos/background/posters/stadium.png" id="bgvid">
        <!-- <source src="polina.webm" type="video/webm"> -->
        <source src="~@/assets/videos/background/stadium-1080p.mp4" type="video/mp4">
      </video>
      <div id="overlay"/>
      <div class="viedo-refer">
        <p>{{$t('views.signIn.source.by')}}</p>
        <a href="https://www.pexels.com/es-es/@mylokaye">Mylo Kaye</a>
        <p>{{$t('views.signIn.source.from')}}</p>
        <a href="https://www.pexels.com/es-es/video/ciudad-cielo-jugando-juego-7072343/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
      </div>
    </div>
    <v-snackbar
      v-model="snackbar.state"
      :timeout="4000"
      :color="snackbar.color"
      centered
      top
    >
    <div data-cy="login-snackbar" class="snackbar-content">
      <v-icon>{{snackbar.icon}}</v-icon>
      {{snackbar.message}}
    </div>
    </v-snackbar>
    <SignInCard @show-snackbar="showSnackBar" class="signInCard center"/>
  </div>
</template>
<script>
import SignInCard from '../components/userAccess/SignInCard.vue'

export default {
  name: 'SignIn',
  components: { SignInCard },
  data: () => ({
    snackbar: {
      state: false,
      message: '',
      color: '',
      icon: ''
    }
  }),
  methods: {
    showSnackBar (data) {
      this.snackbar.state = true
      this.snackbar.message = data.message
      this.snackbar.color = data.color
      this.snackbar.icon = data.icon
    }
  }
}
</script>
<style lang="scss" scoped>
.signInCard{
  max-width: 800px;
  width: 100%;
}
video {
  margin: -10px;
  transform: scale(1.1);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-container {
  margin: -10px;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(9px);
}
.snackbar{
}
.snackbar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.viedo-refer {
  display: flex;
  gap: 0.25em;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  p {
    margin: 0;
    color: white;
  }
  a {
    color: white;
    font-weight: bold;
  }
}
</style>
