<template>
  <div class="signUp-view">
    <div class="video-container">
      <video playsinline autoplay muted loop poster="~@/assets/videos/background/posters/stadium.png" id="bgvid">
        <!-- <source src="polina.webm" type="video/webm"> -->
        <source src="~@/assets/videos/background/stadium.mp4" type="video/mp4">
      </video>
      <div id="overlay"/>
      <div class="viedo-refer">
        <p>{{$t('views.signUp.source.by')}}</p>
        <a href="https://www.pexels.com/es-es/@mylokaye">Mylo Kaye</a>
        <p>{{$t('views.signUp.source.from')}}</p>
        <a href="https://www.pexels.com/es-es/video/ciudad-cielo-jugando-juego-7072343/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
      </div>
    </div>
    <v-snackbar
      v-model="snackbar.state"
      :timeout="4000"
      :color="snackbar.color"
      centered
      top
    >
    <div data-cy="signup-snackbar" class="snackbar-content">
      <v-icon>{{snackbar.icon}}</v-icon>
      {{snackbar.message}}
    </div>
    </v-snackbar>
    <SignUpCard @show-snackbar="showSnackBar" class="signUpCard center" :countries="countries"/>
  </div>
</template>
<script>
import SignUpCard from '../components/userAccess/SignUpCard.vue'

import CountriesService from '@/api/logic/countries/countries'

const countriesService = new CountriesService()

export default {
  components: { SignUpCard },
  name: 'SignUp',
  data: () => ({
    countries: [],
    snackbar: {
      state: false,
      message: '',
      color: '',
      icon: ''
    }
  }),
  mounted () {
    this.getCountries()
  },
  methods: {
    getCountries () {
      countriesService.getCountries()
        .then(response => {
          this.countries = response.data.response
        })
        .catch(error => console.error(error))
    },
    showSnackBar (data) {
      this.snackbar.state = true
      this.snackbar.message = data.message
      this.snackbar.color = data.color
      this.snackbar.icon = data.icon
    }
  }
}
</script>
<style lang="scss" scoped>
.signUpCard{
  max-width: 800px;
  width: 100%;
  margin: 20px 0;
  padding: 9vh 0;
}
.signUp-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
video {
  margin: -10px;
  transform: scale(1.1);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.center {

}
.video-container {
  margin: -10px;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(9px);
}
.viedo-refer {
  display: flex;
  gap: 0.25em;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  p {
    margin: 0;
    color: white;
  }
  a {
    color: white;
    font-weight: bold;
  }
}
</style>
