<template>
  <div v-if="user" class="profile-header">
    <div>
      <v-avatar
        size="15rem"
        color="red"
        class="avatar"
      >
        <span class="avatar-text">{{initials}}</span>
      </v-avatar>
    </div>
    <div class="description">
      <p class="user-name">{{user.name}}</p>
      <p class="user-username">{{`@${user.userName}`}}</p>
      <p v-if="statistics" class="user-statistics">{{`${$tc('components.user.utils.userHeader.leagues',statistics.leagues)} — ${$tc('components.user.utils.userHeader.teams',statistics.teams)} — ${$tc('components.user.utils.userHeader.fixtures',statistics.fixtures)}`}}</p>
    </div>
    <div v-if="loggedIn && user.uid === loggedIn" class="edit-profile">
      <div class="edit-profile-container">
        <div class="edit-profile-button-container">
          <v-btn text outlined class="edit-profile-button" @click="routeTo(`/user/edit/${loggedIn}`)">{{$t('components.user.utils.userHeader.editProfile')}}</v-btn>
        </div>
        <div class="edit-profile-colour"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserHeader',
  props: {
    user: Object,
    statistics: Object
  },
  computed: {
    loggedIn () { return this.$store.state.user.user.uid },
    initials () {
      return this.getInitials(this.user.name)
    }
  },
  methods: {
    getInitials (name) {
      const rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu')
      let initials = [...name.matchAll(rgx)] || []

      initials = (
        (initials.shift()?.[1] || '') + (initials.pop()?.[1] || '')
      ).toUpperCase()
      return initials
    },
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 2rem;
  gap: 3rem;
}
.avatar-text {
  font-size: 7rem;
}
.avatar {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}
.user-statistics {
  padding: 1rem 0;
  color: $textgrey;
}
.description {
  p { margin: 0; }
  .user {
    &-name {
      font-size: 3rem;
      font-weight: bold;
    }
    &-username {
      font-size: 1.5rem;
      color: $textgrey;
    }
  }
}
.edit-profile {
  margin-left: auto;
  align-self: flex-start;
  &-container {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    background-color: $bgContainer;
  }
  &-button {
    align-self: center;
    color: white;
    background-color: $primary;
  }
  &-button-container {
    padding: 0.5rem 1rem;
  }
  &-colour {
    width: 1rem;
    background-color: $primary;
  }
}
</style>
