<template>
  <div v-if="countries" class="view-bottom-margin">
    <h1>{{$t('views.football.countries.countries.header')}}</h1>
    <CountryGrid :countries="countries"/>
  </div>
</template>

<script>
// Components
import CountryGrid from '@/components/football/countries/utils/CountryGrid.vue'

// API
import CountriesService from '@/api/logic/countries/countries'

const countriesService = new CountriesService()

export default {
  name: 'Country',
  components: { CountryGrid },
  data: () => ({
    countries: []
  }),
  mounted () {
    countriesService.getCountries(this.$route.params.countryId)
      .then(response => {
        this.countries = response.data.response
      })
      .catch(error => console.error(error))
  }
}
</script>

<style lang="scss" scoped>

</style>
