<template>
  <div class="view-bottom-margin">
    <div v-if="country">
      <CountryHeader :country="country"/>
      <v-tabs
        v-model="currentTab"
        align-with-title
      >
        <v-tabs-slider></v-tabs-slider>
        <v-tab
          v-for="tab in tabs"
          :key="tab.name"
          :disabled="!tab.enabled"
        >
          {{ tab.name }}
        </v-tab>
      </v-tabs>
      <v-tabs-items v-model="currentTab">
        <v-tab-item
          v-for="tab in tabs"
          :key="tab.name"
        >
          <component v-if="tab.enabled" v-bind:is="tab.component" v-bind="tab.props"></component>
        </v-tab-item>
      </v-tabs-items>
    </div>
  </div>
</template>

<script>
// Components
import CountryHeader from '@/components/football/countries/utils/CountryHeader.vue'
import CountryLeagues from '@/components/football/countries/utils/CountryLeagues.vue'
import TeamList from '@/components/football/leagues/TeamList.vue'

// API
import CountriesService from '@/api/logic/countries/countries'
import LeaguesService from '@/api/logic/leagues/leagues'
import TeamsService from '@/api/logic/teams/teams'

const countriesService = new CountriesService()
const leaguesService = new LeaguesService()
const teamsService = new TeamsService()

export default {
  name: 'Countries',
  components: { CountryHeader, CountryLeagues, TeamList },
  data: () => ({
    currentTab: 0,
    country: null,
    leagues: [],
    teams: []
  }),
  computed: {
    tabs () {
      return [
        { name: this.$t('views.football.countries.country.tabs.leagues'), component: CountryLeagues, props: { country: this.country, leagues: this.leagues }, enabled: this.leagues.length },
        { name: this.$t('views.football.countries.country.tabs.teams'), component: TeamList, props: { teams: this.teams }, enabled: this.teams.length }
      ]
    }
  },
  mounted () {
    countriesService.getCountriesByName(this.$route.params.countryId)
      .then(response => {
        this.country = response.data.response[0]
        this.updateData(this.country.name)
      })
      .catch(error => console.error(error))
  },
  methods: {
    updateData (country) {
      this.getTeams(country)
      this.getLeagues(country)
    },
    getTeams (country) {
      return teamsService.getTeamsByCountry(country)
        .then(response => {
          this.teams = response.data.response
        })
        .catch(error => console.error(error))
    },
    getLeagues (country) {
      return leaguesService.getLeaguesByCountryName(country)
        .then(response => {
          this.leagues = response.data.response
        })
        .catch(error => console.error(error))
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
