<template>
  <div class="events-container">
    <div class="header">
      <div class="home-team">
        <div class="home-color"></div>
        <div class="team-image-container">
          <img class="team-image" :src="teams.home.logo">
        </div>
        <div class="home-info">
          <p class="team-name" @click="routeTo(`/teams/${teams.home.id}`)">{{teams.home.name}}</p>
          <p class="team-info">{{$t('components.football.fixtures.events.homeTeam')}}</p>
        </div>
      </div>
      <div class="away-team">
        <div class="away-color"></div>
        <div class="team-image-container">
          <img class="team-image" :src="teams.away.logo">
        </div>
        <div class="away-info">
          <p class="team-name" @click="routeTo(`/teams/${teams.away.id}`)">{{teams.away.name}}</p>
          <p class="away-info">{{$t('components.football.fixtures.events.awayTeam')}}</p>
        </div>
      </div>
    </div>
    <div v-if="eventos">
      <TimeLine :eventos="eventos" :teams="teams" :season="league.season"/>
    </div>
  </div>
</template>

<script>
import TimeLine from './utils/TimeLine'

export default {
  name: 'Events',
  components: { TimeLine },
  props: {
    eventos: Array,
    teams: Object,
    league: Object
  },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.events-container {
  p {
    margin: 0;
  }
  .header{
    display: flex;
    flex-direction: row;
    background-color: $lightgrey;
  }
}
.home {
  &-team{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-color{
    width: 1rem;
    height: 100%;
    background-color: $homeTeamColor;
  }
  &-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.away {
  &-team{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: auto;
  }
  &-color{
    width: 1rem;
    height: 100%;
    background-color: $awayTeamColor;
  }
  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
}
.team {
  &-image {
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
  &-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem; width: 4rem;
    padding: 0.3rem;
    margin: 0 1rem;
  }
  &-name {
    font-weight: bold;
  }
  &-name:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
</style>
