<template>
  <div class="fixture-list-container">
    <div class="fixtures-toolbar">
    <!-- <v-toolbar-title>Country selection</v-toolbar-title> -->
      <v-text-field
        v-model="search"
        :loading="loading"
        append-icon="mdi-magnify"
        :label="$t('components.football.fixtures.fixtureList.textFieldLabel')"
      ></v-text-field>
      <v-menu
        :close-on-content-click="false"
        :nudge-width="200"
        offset-y
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-card>
          <v-list>
            <v-list-item>
              <v-list-item-title class="sort-by-title">{{$t('components.football.fixtures.fixtureList.sort.sortBy')}}</v-list-item-title>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list>
            <v-list-item>
              <v-list-item-action>
                <v-switch
                  v-model="sort.date"
                  color="primary"
                ></v-switch>
              </v-list-item-action>
              <v-list-item-title>{{$t('components.football.fixtures.fixtureList.sort.date')}}</v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-action>
                <v-switch
                  v-model="sort.league"
                  color="primary"
                ></v-switch>
              </v-list-item-action>
              <v-list-item-title>{{$t('components.football.fixtures.fixtureList.sort.league')}}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </div>
    <div class="list-container">
      <div v-if="pages.length">
        <v-list class="list">
          <FixtureListItem v-for="fixture in pages" :key="fixture.id" :fixture="fixture" />
        </v-list>
      </div>
      <div v-else class="no-data">
        <p>{{$t('error.notFound')}}</p>
      </div>
    </div>
    <div class="pagination">
      <v-pagination
        v-model="page"
        :length="pagesLength"
        :total-visible="totalVisiblePages"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import FixtureListItem from '@/components/football/fixtures/utils/FixtureListItem.vue'

export default {
  name: 'FixtureList',
  components: { FixtureListItem },
  props: {
    fixtures: Array
  },

  data: () => ({
    sort: {
      date: true,
      league: false
    },
    loading: false,
    search: '',
    page: 1,
    itemsPerPage: 10,
    totalVisiblePages: 7
  }),
  computed: {
    searching () {
      if (!this.search) return this.fixtures

      const search = this.search.toLowerCase()

      return this.fixtures.filter(fixture => {
        const text = fixture.teams.home.name.toLowerCase()
        const text2 = fixture.teams.away.name.toLowerCase()
        const text3 = fixture.league.name.toLowerCase()

        return text.indexOf(search) > -1 || text2.indexOf(search) > -1 || text3.indexOf(search) > -1
      })
    },

    pages () {
      return this.paginate(this.sortFixtureList(this.searching), this.itemsPerPage, this.page)
    },

    pagesLength () {
      if (this.searching) {
        if (this.searching.length === 0) {
          return this.searching.length
        } else if (this.searching % this.itemsPerPage === 0) {
          return this.searching.length / this.itemsPerPage
        } else {
          return (Math.floor(this.searching.length / this.itemsPerPage))
        }
      } else {
        return 0
      }
    }
  },
  methods: {
    paginate (array, pageSize, pageNumber) {
      return array.slice((pageNumber - 1) * pageSize, pageNumber * pageSize)
    },
    sortFixtureList (fixtureList) {
      if (!this.sort.date && !this.sort.league) return fixtureList
      if (fixtureList.length) {
        if (this.sort.date && this.sort.league) return [...fixtureList].sort((fixture1, fixture2) => { return new Date(fixture2.fixture.date) - new Date(fixture1.fixture.date) || this.sortByLeague(fixture1.league.name, fixture2.league.name) })
        if (this.sort.date) return [...fixtureList].sort((fixture1, fixture2) => { return new Date(fixture2.fixture.date) - new Date(fixture1.fixture.date) })
        if (this.sort.league) return [...fixtureList].sort((fixture1, fixture2) => { return this.sortByLeague(fixture1.league.name, fixture2.league.name) })
      }
      return fixtureList
    },
    sortByLeague (league1, league2) {
      if (league1 < league2) { return -1 }
      if (league1 > league2) { return 1 }
      return 0
    }
  }
}
</script>

<style lang="scss" scoped>
.sort-by-title{
  font-weight: bold;
}
.fixture-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list{
    width: 100%;
  }
  .pagination {
    margin-bottom: 2rem;
  }
}
.fixtures-toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.list-container {
  width: 100%;
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 1rem;
    font-style: italic;
    color: $textgrey;
  }
}
</style>
