<template>
  <div>
    <FixtureList :fixtures="head2HeadList"/>
  </div>
</template>

<script>
import FixtureList from '@/components/football/fixtures/FixtureList.vue'
export default {
  name: 'Head2Head',
  components: { FixtureList },
  props: {
    head2HeadList: Array
  },
  data: () => ({
  })
}
</script>

<style lang="scss" scoped>

</style>
