<template>
  <div class="fixture-lineups">
    <LineupList class="fixture-lineups-local" :lineup="lineups[0]" :league="league" home />
    <LineupField :lineups="lineups" :league="league"/>
    <LineupList class="fixture-lineups-away" :lineup="lineups[1]" :league="league"/>
  </div>
</template>

<script>
import LineupField from '../lineups/LineupField.vue'
import LineupList from './utils/LineupList'

export default {
  name: 'Lineups',
  components: { LineupList, LineupField },
  props: {
    lineups: Array,
    league: Object
  }
}
</script>

<style lang="scss" scoped>
.fixture-lineups {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &-local {
    margin: 1rem;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  }
  &-away {
    margin: 1rem;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  }
}
</style>
