<template>
  <div class="field-container">
    <div class="field-margin">
      <div class="field">
        <div class="home-team">
          <div class="team-row" v-for="(row,index) in homeGrid" :key="index">
            <LineupPlayer v-for="(player) in row" :key="player.player.id" :player="player.player" home :season="league.season"/>
          </div>
        </div>
        <div class="away-team">
          <div class="team-row" v-for="(row,index) in awayGrid" :key="index">
            <LineupPlayer v-for="(player) in row" :key="player.player.id" :player="player.player" :season="league.season"/>
          </div>
        </div>
      </div>
    </div>
    <!-- <component class="field" v-bind:is="returnFiedl"></component> -->
  </div>
</template>

<script>
import LineupPlayer from './LineupPlayer.vue'
// import Field from '@/assets/svg/field/CampoDeFutbolLargo.svg'
export default {
  name: 'LineupField',
  components: { LineupPlayer },
  props: {
    lineups: Array,
    league: Object
  },
  computed: {
    homeGrid () {
      return this.generateLineupArray(this.lineups[0])
    },
    awayGrid () {
      return this.generateLineupArray(this.lineups[1])
    }
  },
  methods: {
    generateLineupArray (lineup) {
      var rows = this.numberOfRows(lineup.formation)
      var result = new Array(rows)
      for (let row = 1; row <= rows; row++) {
        result[row - 1] = lineup.startXI.filter(player => { if (this.getGridRow(player.player.grid) === row.toString()) return true })
        result[row - 1].map(player => player.player)
      }
      return result
    },
    getGridRow (grid) {
      return grid.split(':')[0]
    },
    numberOfRows (formation) {
      return formation.split('-').length + 1
    }
  }

}
</script>

<style lang="scss" scoped>
.field-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  max-width: 40rem;
  min-width: 39rem;
  margin: 1rem;
  .field-margin{
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: #38b000ff;
    max-width: 40rem;
  }
  .field {
    background-image: url('~@/assets/svg/field/CampoDeFutbolLargo.svg');
    background-size: 100% 100%;
    height: 100%;
    width: auto;

    .home-team {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 50%;
    }
    .away-team{
      display: flex;
      flex-direction: column-reverse;
      height: 50%;
      justify-content: space-around;
    }
    .team-row {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
    }
  }
}
</style>
