<template>
  <div class="player-container" @click="routeTo(`/players/${player.id}/${season}`)">
    <div class="player">
      <img :class="['player-image', home ? 'home': 'away' ]" :src="`https://media.api-sports.io/football/players/${player.id}.png`">
      <p :class="['player-name', home ? 'home': 'away' ]">{{player.name}}</p>
      <!-- <div class="player-number-container">
        <p class="player-number">{{player.number}}</p>
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'LineupPlayer',
  props: {
    player: Object,
    home: Boolean,
    season: Number
  },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.player-container {
  transition: all 200ms;
  p {
    margin: 0;
  }
  .player {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    .home {
      border-color: $homeTeamColor;
      background-color: $homeTeamColor;
    }
    .away {
      border-color: $awayTeamColor;
      background-color: $awayTeamColor;
    }
    &-image {
      height: 4rem; width: 4rem;
      border-radius: 50%;
      border-style: solid;
    }
    &-name {
      position: absolute;
      padding: 0.1rem 0.3rem;
      border-radius: 0.2rem;
      bottom: -30%;
      align-self: center;
      color: white;
      text-align: center;
      white-space: nowrap;
    }
    &-number-container {}
    &-number {}
  }
}
.player-container:hover {
  box-shadow: 0 0 50% 50% rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-5px) scale(1.1);
  cursor: pointer;
}
</style>
