<template>
  <div>
    <v-list>
      <CareerListItem v-for="(career, index) in careerList" :key="index" :career="career" />
    </v-list>
  </div>
</template>

<script>
import CareerListItem from '@/components/football/coachs/utils/CareerListItem.vue'

export default {
  name: 'CareerList',
  components: { CareerListItem },
  props: { careerList: Array }
}
</script>

<style lang="scss" scoped>

</style>
