<template>
  <div class="career-grid">
    <CareerCard v-for="(team, index) in careerList" :key="index" :team='team' />
  </div>
</template>

<script>
import CareerCard from '@/components/football/coachs/utils/CareerCard.vue'

export default {
  name: 'CareerGrid',
  components: { CareerCard },
  props: {
    careerList: Array
  }
}
</script>

<style lang="scss" scoped>
.career-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 2rem;
}
</style>
