<template>
  <div>
    <v-list>
      <CoachListItem v-for="(coach, index) in coachList" :key="index" :coach="coach" />
    </v-list>
  </div>
</template>

<script>
import CoachListItem from '@/components/football/coachs/utils/CoachListItem.vue'

export default {
  name: 'CoachList',
  components: { CoachListItem },
  props: { coachList: Array }
}
</script>

<style lang="scss" scoped>

</style>
