<template>
  <div class="coach-grid">
    <CoachCard v-for="(coach, index) in coachList" :key="index" :coach='coach' />
  </div>
</template>

<script>
import CoachCard from '@/components/football/coachs/utils/CoachCard.vue'

export default {
  name: 'CoachGrid',
  components: { CoachCard },
  props: {
    coachList: Array
  }
}
</script>

<style lang="scss" scoped>
.coach-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(200px, 0.15fr));

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 2rem;
}
</style>
