<template>
  <v-card class="league-card" @click="routeTo(`/leagues/${league.league.id}`)">
    <div class="league-card-image-container">
      <img class="league-card-image" :src="league.league.logo">
    </div>
    <div class="league-card-data">
      <p class="league-card-name">{{league.league.name}}</p>
      <p class="league-card-type">{{league.league.type}}</p>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'LeagueGridCard',
  props: {
    league: Object
  },
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.league-card {
  display: flex;
  flex-direction: column;
  transition: all 200ms;

  p { margin: 0; }

  &-data {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &-name {
    margin: 0.5rem 1rem;
    text-align: center;
    font-weight: bold;
    word-break: keep-all;
    font-size: 1.5rem;
  }

  &-type {
    margin: 0.5rem 1rem;
    font-size: 1rem;
  }

  &-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px; width: 100%;
    padding: 1rem;
  }

  &-image {
    display: block;
    max-width:100%;
    max-height:100%;
    width:100%;
    height:100%;
    object-fit: contain;
  }
}
.league-card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}
</style>
