<template>
  <div v-if="league" class="league-header">
    <img  class="league-header-image" :src="league.league.logo">
    <div class="league-header-data">
      <p class="league-name">{{league.league.name}}</p>
      <!-- <p class="league-type">{{league.league.type}}</p> -->
      <div>
        <Country :country="league.country" />
        <v-select
          class="league-season"
          v-model="season"
          @change="changeSeason(season)"
          :items="reversedSeasons"
          :label="$t('components.football.leagues.utils.leagueHeader.season')"
          item-text="year"
          item-value="year"
          single-line
          return-object
          prepend-icon="mdi-calendar"
        ></v-select>
      </div>
    </div>
    <div v-if="loggedIn" class="league-buttton-container">
      <div v-if="!leagueAdded" class="add-league-container">
        <div class="add-league-button-container">
          <v-btn data-cy="league-addLeague" text outlined class="add-league-button" @click="addLeague()">{{$t('components.football.leagues.utils.leagueHeader.addLeague')}}</v-btn>
        </div>
        <div class="add-league-colour"></div>
      </div>
      <div v-else class="remove-league-container">
        <div class="remove-league-button-container">
          <v-btn data-cy="league-removeLeague" text outlined class="remove-league-button" @click="removeLeague()">{{$t('components.football.leagues.utils.leagueHeader.removeLeague')}}</v-btn>
        </div>
        <div class="remove-league-colour"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Country from '@/components/utils/Country.vue'

export default {
  name: 'LeagueHeader',
  components: { Country },
  props: { league: Object },
  data: () => ({ season: '' }),
  computed: {
    loggedIn () { return this.$store.state.user.user.uid },
    leagueAdded () { return this.$store.state.user.user.leagues.filter(league => league.league.id === this.league.league.id).length },
    leagueId () {
      const league = this.$store.state.user.user.leagues.filter(league => league.league.id === this.league.league.id)
      if (league.length) return league[0].docId
      else return 0
    },
    currentSeason () {
      return this.league.seasons.find(season => season.current === true)
    },
    reversedSeasons () {
      return [...this.league.seasons].reverse()
    }
  },
  methods: {
    changeSeason () {
      this.$emit('change-season', this.season)
    },
    addLeague () {
      if (this.loggedIn) {
        const league = this.league
        this.$store.dispatch('addLeague', league)
          .then(() => {
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
          })
          .catch((error) => {
            console.error(error)
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.loginError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      } else { console.error('No estas logueado mazapan') }
    },
    removeLeague () {
      const docId = this.leagueId
      if (this.loggedIn && docId) {
        const league = { docId: docId }
        this.$store.dispatch('removeLeague', league)
          .then(() => {
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.successfull'), color: 'success', icon: 'mdi-checkbox-marked-circle' })
          })
          .catch((error) => {
            console.error(error)
            // this.$emit('show-snackbar', { message: this.$t('components.userAccess.signInCard.snackbarMessages.loginError'), color: 'error', icon: 'mdi-alert-circle' })
          })
      } else { console.error('No estas logueado mazapan') }
    }
  }
}
</script>

<style lang="scss" scoped>
.league-header {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  &-image {
    height: 240px;
    width: 240px;
    border-bottom: 1px solid #eee;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    padding: 0.5rem;
  }

  &-data {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    .league-name {
      margin: 0;
      font-size: 3rem;
    }
  }
}
.league-buttton-container {
  margin-left: auto;
}
.add-league {
  &-container {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    background-color: $bgContainer;
  }
  &-button {
    align-self: center;
    color: white;
    background-color: $addColor;
  }
  &-button-container {
    padding: 0.5rem 1rem;
  }
  &-colour {
    width: 1rem;
    background-color: $addColor;
  }
}
.remove-league {
  margin-left: auto;
  &-container {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    background-color: $bgContainer;
  }
  &-button {
    align-self: center;
    color: white;
    background-color: $removeColor;
  }
  &-button-container {
    padding: 0.5rem 1rem;
  }
  &-colour {
    width: 1rem;
    background-color: $removeColor;
  }
}
</style>
