<template>
  <v-row>
    <v-col v-for="(league, i) in leagues" :key="i">
      <LeagueCard :league='league.league' :country="league.country" />
    </v-col>
  </v-row>
</template>

<script>
import LeagueCard from '@/components/football/leagues/LeagueCard'
import LeaguesService from '@/api/logic/leagues/leagues'

const leaguesServices = new LeaguesService()

export default {
  components: { LeagueCard },
  name: 'HomeComponent',
  data () {
    return {
      leagues: []
    }
  },
  mounted () {
    leaguesServices.getAllCurrentLeagues()
      .then(response => {
        this.leagues = response.data.response.slice(0, 20)
      })
      .catch(() => {})
  }
}
</script>

<style>

</style>
