<template>
<v-list-item class="player-list-item">
  <div class="player">
    <img class="player-image" :src="player.photo">
    <p class="player-name">{{player.name}}</p>
    <!-- <p :class="fixture.teams.home.winner ? 'team-result-winner' : 'team-result'">{{fixture.goals.home}}</p> -->
  </div>
</v-list-item>
</template>

<script>
export default {
  name: 'PlayerListItem',
  props: {
    player: Object
  }
}
</script>

<style lang="scss" scoped>
.player-list-item {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;

  .player {
    display: flex;
    align-items: center;
    width: 100%;

    &-image {
      height: 4rem;
      width: auto;
    }

    &-name {
      margin: 0;
      padding: 0 1rem;
    }
  }
}
.player-list-item::after {
  min-height: 0 !important;
}
</style>
