<template>
  <div v-if="player" class="player-header">
    <img class="player-image" :src="player.photo">
    <div class="player-header-data">
      <div class="player-name-container">
        <p class="player-name">{{player.name}}</p>
        <p class="player-fullname">{{`${player.lastname}, ${player.firstname}`}}</p>
      </div>
      <div class="player-info-container">
        <div class="player-birth-container">
          <p class="player-age">{{$t('components.football.players.utils.playerHeader.age', { data: player.age })}}</p>
          <p class="player-birth-date">{{$t('components.football.players.utils.playerHeader.birth', { data: dateToLocale(player.birth.date)[0] })}}</p>
        </div>
        <p class="player-nationality">{{$t('components.football.players.utils.playerHeader.nationality', { data: player.nationality })}}</p>
      </div>
      <!-- <div class="player-age-container">
        <p class="key">{{$t('components.football.players.utils.playerHeader.age') + ': '}}</p>
        <p class="value">{{player.age}}</p>
      </div>
      <div class="player-birth">
        <div class="player-birth-date-container">
          <p class="key">{{$t('components.football.players.utils.playerHeader.birth') + ': '}}</p>
          <p class="value">{{player.birth.date}}</p>
        </div>
        <div class="player-birth-place-container">
          <p class="key">{{$t('components.football.players.utils.playerHeader.place') + ': '}}</p>
          <p class="value">{{player.birth.place + ', ' + player.birth.country}}</p>
        </div>
      </div>
      <div class="player-nationality-container">
        <p class="key">{{$t('components.football.players.utils.playerHeader.nationality') + ': '}}</p>
        <p class="value">{{player.nationality}}</p>
      </div>
      <div class="player-height-container">
        <p class="key">{{$t('components.football.players.utils.playerHeader.height') + ': '}}</p>
        <p class="value">{{player.height}}</p>
      </div>
      <div  class="player-weight-container">
        <p class="key">{{$t('components.football.players.utils.playerHeader.weight') + ': '}}</p>
        <p class="value">{{player.weight}}</p>
      </div>
      <div class="player-injured-container">
        <p class="key">{{$t('components.football.players.utils.playerHeader.injured') + ': '}}</p>
        <p class="value">{{player.injured}}</p>
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'PlayerHeader',
  props: { player: Object },
  methods: {
    dateToLocale (date) {
      var tempDate = new Date(date)
      const dateOptions = { year: 'numeric', month: 'long', day: 'numeric' }
      const timeOptions = { hour12: true, hour: '2-digit', minute: '2-digit' }
      return [tempDate.toLocaleDateString(this.$root.$i18n.locale, dateOptions), tempDate.toLocaleTimeString(this.$root.$i18n.locale, timeOptions)]
    }
  }
}
</script>

<style lang="scss" scoped>
.player-header{
  display: flex;
  flex-direction: row;
  p { margin: 0; }
}
.player-header-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
}
.player {
  &-fullname {
    color: $textgrey;
    font-size: 1.5rem;
  }
  &-name {
    font-weight: bold;
    font-size: 3rem;
  }
  &-image {
    border-radius: 50%;
    height: 15rem; width: 15rem;
    margin: 1rem;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  }
}
.player-name-container {
  display: flex;
  flex-direction: column;
}
.player-info-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.player-birth-container {
  display: flex;
  flex-direction: column;
}
</style>
