<template>
  <v-card class="player-card" @click="routeTo(`/players/${player.player.id}/${season}`)">
    <v-avatar
      class="player-image"
      width="100%"
      height="auto%"
    >
      <img
        :src="player.player.photo"
      >
    </v-avatar>
    <v-card-title class="player-name">
      {{player.player.name}}
    </v-card-title>
    <v-card-subtitle class="player-position">{{position}}</v-card-subtitle>
    <div v-if="player.player.injured" class="player-injured">
      <v-icon class="player-injured-icon" color="white">mdi-hospital</v-icon>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'PlayerCard',
  props: {
    player: Object,
    season: Number
  },
  computed: {
    position () {
      return this.translatePosition(this.player.statistics[0].games.position)
    }
  },
  methods: {
    translatePosition (position) {
      switch (position) {
        case 'Goalkeeper':
          return this.$t('components.football.players.utils.playerCard.position.goalkeeper')
        case 'Defender':
          return this.$t('components.football.players.utils.playerCard.position.defender')
        case 'Midfielder':
          return this.$t('components.football.players.utils.playerCard.position.midfielder')
        case 'Attacker':
          return this.$t('components.football.players.utils.playerCard.position.attacker')
        default:
          return this.$t('components.football.players.utils.playerCard.position.undefined')
      }
    },
    // TODO arreglar lo del ruteo que hace falta la temporada
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.player {
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    height: 100%;
  }
  &-image {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    margin: 0;
  }
  &-name {
    text-align: center;
  }
  &-injured {
    background-color: red;
    position: absolute;
    transform: rotate(45deg);
    height: 56px;
    width: 56px;
    right: -28px;
    top: -28px;
    &-icon {
      position: absolute;
      left: 27%;
      top: 57%;
      transform: translate(-50%,-50%);
      transform: rotate(-45deg);
    }
  }
}
</style>
