<template>
  <div>
    <v-list>
      <PlayerListItem v-for="(player, index) in playerList" :key="index" :player="player" />
    </v-list>
  </div>
</template>

<script>
import PlayerListItem from '@/components/football/players/utils/PlayerListItem.vue'

export default {
  name: 'PlayerList',
  components: { PlayerListItem },
  props: { playerList: Array }
}
</script>

<style lang="scss" scoped>

</style>
