<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="statistics"
      :hide-default-footer="statistics.length < 10 ? true : false"
    >
      <template v-slot:[`item.league.name`]="{ item }">
        <div class="league-container">
          <img class="image" :src="item.league.logo">
          <p class="name">{{item.league.name}}</p>
        </div>
      </template>
      <template v-slot:[`item.team.name`]="{ item }">
        <div class="team-container">
          <img class="image" :src="item.team.logo">
          <p class="name">{{item.team.name}}</p>
        </div>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  name: 'PlayerStatisticsTable',
  props: { statistics: Array },
  computed: {
    headers () {
      return [
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.league'), value: 'league.name', align: 'left' },
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.team'), value: 'team.name', align: 'left' },
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.totalAppearences'), value: 'games.appearences', align: 'center' },
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.lineupAppearences'), value: 'games.lineups', align: 'center' },
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.minutesPlayed'), value: 'games.minutes', align: 'center' },
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.goals'), value: 'goals.total', align: 'center' },
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.assists'), value: 'goals.assists', align: 'center' },
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.passesAccuracy'), value: 'passes.accuracy', align: 'center' },
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.yellowCards'), value: 'cards.yellow', align: 'center' },
        { text: this.$t('components.football.players.utils.playerStatisticsTable.headers.redCards'), value: 'cards.red', align: 'center' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.league-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .name {
    margin: 0 1rem;
    font-weight: bold;
  }
  .image {
    width: 2rem; height: 2rem;
  }
}
.team-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .name {
    margin: 0 1rem;
    font-weight: bold;
  }
  .image {
    width: 2rem; height: 2rem;
  }
}
</style>
