<template>
  <div class="player-grid">
    <PlayerCard v-for="(player, index) in playerList" :key="index" :player='player' class="player-card" :season="season"/>
  </div>
</template>

<script>
import PlayerCard from '@/components/football/players/utils/PlayerCard.vue'

export default {
  name: 'PlayerGrid',
  components: { PlayerCard },
  props: {
    playerList: Array,
    season: Number
  }
}
</script>

<style lang="scss" scoped>
.player-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 2rem 2rem;
}
.player-card {
  transition: all 200ms;
}
.player-card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
  justify-content: space-between;
}
</style>
