<template>
  <v-list-item class="transfer-list-item">
    <div class="team team-out">
      <img class="team-image" :src="transfer.teams.out.logo">
      <p class="team-name">{{transfer.teams.out.name}}</p>
    </div>
    <div class="transfer-data">
      <p class="date">{{transfer.date}}</p>
      <p class="type">{{transfer.type}}</p>
    </div>
    <div class="team team-in">
      <img class="team-image" :src="transfer.teams.in.logo">
      <p class="team-name">{{transfer.teams.in.name}}</p>
    </div>
  </v-list-item>
</template>

<script>
export default {
  name: 'TransferListItem',
  props: { transfer: Object }
}
</script>

<style lang="scss" scoped>
.transfer-list-item {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  margin: 1rem;
  .team{
    display: flex;
    max-width: 7rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-in{}
    &-out{}

    &-image{
      max-height: 6rem;
      margin: 1rem 0;
    }
    &-name{
      text-align: center;
    }
  }
  .transfer-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    min-width: 6rem;
    .date{
      text-align: center;
    }
    .type{}
  }
}
</style>
