<template>
  <v-card class="transfer-card">
    <div class="transfer-card-header">
      <p class="type">{{translateTransfer(transfer.type)}}</p>
      <p class="date">{{transformDate(transfer.date)}}</p>
    </div>
    <div class="transfer-card-data">
      <div class="team" @click="routeTo(`/teams/${transfer.teams.out.id}?season=${transferDate.getFullYear()}`)">
        <img class="team-image" :src="transfer.teams.out.logo">
        <p class="team-name">{{transfer.teams.out.name}}</p>
      </div>
      <div class="transfer-arrow-container">
        <v-icon class="arrow out" size="5rem">mdi-arrow-right-bold</v-icon>
      </div>
      <div class="team team-in" @click="routeTo(`/teams/${transfer.teams.in.id}?season=${transferDate.getFullYear()}`)">
        <img class="team-image" :src="transfer.teams.in.logo">
        <p class="team-name">{{transfer.teams.in.name}}</p>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'TransferCard',
  props: {
    transfer: Object,
    team: Object
  },
  computed: {
    transferDate () {
      const date = new Date(this.transfer.date)
      return date
    }
  },
  methods: {
    transformDate (date) {
      return new Date(date).toLocaleDateString(this.$root.$i18n.locale)
    },
    translateTransfer (transfer) {
      if (transfer.includes('€')) return this.$t('components.football.players.utils.transferCard.type.price', { data: transfer })
      switch (transfer.toLowerCase()) {
        case 'free':
          return this.$t('components.football.players.utils.transferCard.type.free')
        case 'loan':
          return this.$t('components.football.players.utils.transferCard.type.loan')
        case 'n/a':
          return this.$t('components.football.players.utils.transferCard.type.na')
        default:
          return 'error'
      }
    },
    routeTo (route) {
      if (this.$route.path !== route && this.$route.fullPath !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.transfer-card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  margin: 1rem;
  p {
    margin: 0;
  }
  &-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $lightgrey;
    .type {
      margin-left: 1rem;
    }
    .date{
      margin-left: auto;
      margin-right: 1rem;
    }
  }
  &-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    margin: 0 1rem;
    &-in{}
    &-out{}

    &-image{
      height: 6rem;
      width: 6rem;
      margin: 1rem 0;
    }
    &-name{
      text-align: center;
      font-weight: bold;
    }
  }
  .team:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .transfer-arrow-container{
    margin: 0 auto;
    // width: 0.2rem;
    // align-self: stretch;
    // background-color: $lightgrey;
    // display: flex;
    // justify-content: center;
    .arrow {
      align-self: center;
    }
    .in{
      // right: 100%;
      color: green;
      transform: scaleX(-1);
    }
    .out{
      // left: 100%;
      color: red;
    }
  }
}
</style>
