<template>
  <v-list-item class="trophie-list-item">
    <div class="trophie-data">
      <p class="trophie-data-league">{{trophie.league}}</p>
      <p class="trophie-data-country">{{trophie.country}}</p>
      <p class="trophie-data-season">{{trophie.season}}</p>
    </div>
    <div class="trophie-place">
      <p class="trophie-place-text">{{trophie.place}}</p>
    </div>
  </v-list-item>
</template>

<script>
export default {
  name: 'TrophiesListItem',
  props: { trophie: Object }
}
</script>

<style lang="scss" scoped>

</style>
