<template>
  <div>
    <div class="header">
      <div class="team">
        <img class="team-image" :src="statistics.team.logo" alt="">
        <p class="team-name">{{}}</p>
      </div>
      <div class="league">
        <img :src="statistics.league.logo" alt="">
        <p></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PlayerStatistics',
  components: {},
  props: {}
}
</script>

<style>

</style>
