<template>
  <div>
    <EditUserCard @show-snackbar="showSnackBar" :countries="countries" />
    <v-snackbar
      v-model="snackbar.state"
      :timeout="4000"
      :color="snackbar.color"
      centered
      top
    >
    <div data-cy="editUser-snackbar" class="snackbar-content">
      <v-icon>{{snackbar.icon}}</v-icon>
      {{snackbar.message}}
    </div>
    </v-snackbar>
  </div>
</template>

<script>
import EditUserCard from '@/components/user/EditUserCard.vue'

import CountriesService from '@/api/logic/countries/countries'

const countriesService = new CountriesService()

export default {
  name: 'EditUser',
  components: { EditUserCard },
  data: () => ({
    countries: [],
    snackbar: {
      state: false,
      message: '',
      color: '',
      icon: ''
    }
  }),
  mounted () {
    this.getCountries()
  },
  methods: {
    getCountries () {
      countriesService.getCountries()
        .then(response => {
          this.countries = response.data.response
        })
        .catch(error => console.error(error))
    },
    showSnackBar (data) {
      this.snackbar.state = true
      this.snackbar.message = data.message
      this.snackbar.color = data.color
      this.snackbar.icon = data.icon
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
