<template>
  <div>
    <UserHeader :user="user" :statistics="userStatistics" />
    <v-tabs
      v-model="currentTab"
      align-with-title
    >
      <v-tabs-slider></v-tabs-slider>
      <v-tab
        v-for="tab in tabs"
        :key="tab.name"
        :disabled="!tab.enabled"
      >
        {{ tab.name }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="currentTab">
      <v-tab-item
        v-for="tab in tabs"
        :key="tab.name"
      >
        <component v-if="tab.enabled" v-bind:is="tab.component" v-bind="tab.props"></component>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
// Components
import UserHeader from '@/components/user/utils/UserHeader.vue'
import LeagueGrid from '@/components/football/leagues/LeagueGrid.vue'
import FixtureList from '@/components/football/fixtures/FixtureList.vue'
import TeamList from '@/components/football/leagues/TeamList.vue'

import { usersCollection } from '../../plugins/firebase'

export default {
  name: 'User',
  components: { UserHeader },
  data: () => ({
    currentTab: 0,
    user: null,
    leagues: [],
    teams: [],
    fixtures: []
  }),
  mounted () {
    if (this.$route.params.userId) {
      this.getUser(this.$route.params.userId)
      this.getUserLeagues(this.$route.params.userId)
      this.getUserTeams(this.$route.params.userId)
      this.getUserFixtures(this.$route.params.userId)
    }
  },
  computed: {
    tabs () {
      return [
        { name: this.$t('views.user.user.tabs.leagues'), component: LeagueGrid, props: { leagues: this.leagues }, enabled: this.leagues.length },
        { name: this.$t('views.user.user.tabs.fixtures'), component: FixtureList, props: { fixtures: this.fixtures }, enabled: this.fixtures.length },
        { name: this.$t('views.user.user.tabs.teams'), component: TeamList, props: { teams: this.teams }, enabled: this.teams.length }
      ]
    },
    userStatistics () {
      return { leagues: this.leagues.length, teams: this.teams.length, fixtures: this.fixtures.length }
    }
  },
  methods: {
    getUser (uid) {
      return new Promise((resolve, reject) => {
        usersCollection.doc(uid).get()
          .then((doc) => {
            this.user = doc.data()
          })
          .catch((error) => {
            console.error(`${error.code}: ${error.message}`)
          })
      })
    },
    getUserLeagues (uid) {
      return new Promise((resolve, reject) => {
        usersCollection.doc(uid).collection('leagues').get()
          .then(querySnapshot => {
            const leagues = querySnapshot.docs.map(doc => { return { docId: doc.id, ...doc.data() } })
            this.leagues = leagues
            resolve(true)
          })
          .catch((error) => {
            console.error(error)
            reject(error)
          })
      })
    },
    getUserTeams (uid) {
      return new Promise((resolve, reject) => {
        usersCollection.doc(uid).collection('teams').get()
          .then(querySnapshot => {
            const teams = querySnapshot.docs.map(doc => { return { docId: doc.id, ...doc.data() } })
            this.teams = teams
            resolve(true)
          })
          .catch((error) => {
            console.error(error)
            reject(error)
          })
      })
    },
    getUserFixtures (uid) {
      return new Promise((resolve, reject) => {
        usersCollection.doc(uid).collection('fixtures').get()
          .then(querySnapshot => {
            const fixtures = querySnapshot.docs.map(doc => { return { docId: doc.id, ...doc.data() } })
            this.fixtures = fixtures
            resolve(true)
          })
          .catch((error) => {
            console.error(error)
            reject(error)
          })
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
