<template>
  <v-card class="table-card">
    <PlayerStatisticsTable :statistics="statistics"/>
  </v-card>
</template>

<script>
import PlayerStatisticsTable from './utils/PlayerStatisticsTable.vue'

export default {
  name: 'PlayerStatistics',
  components: { PlayerStatisticsTable },
  props: { statistics: Array }
}
</script>

<style lang="scss" scoped>
.table-card{
  margin: 1rem;
}
</style>
