<template>
  <div>
    <v-slide-group
      class="player-slide-group"
      show-arrows
    >
      <v-slide-item v-for="(player, index) in playerList" :key="index">
        <div class="player-slide-item">
          <PlayerCard :player="player" :season="player.statistics[0].league.season"/>
          <div class="ranking-number">{{`#${index+1}`}}</div>
        </div>
      </v-slide-item>
    </v-slide-group>
  </div>
</template>

<script>
import PlayerCard from './utils/PlayerCard.vue'

export default {
  name: 'TopPlayersSlide',
  components: { PlayerCard },
  props: {
    playerList: Array,
    season: Number
  }
}
</script>

<style lang="scss" scoped>
.player-slide-group {
}
.player-slide-item {
  position: relative;
  margin: 1rem 0.7rem 1rem 0.7rem;
  width: 14rem;
  transition: all 200ms;
}
.ranking-number {
  position: absolute;
  left: 0; top: 0;
  height: auto; width: auto;
  padding: 0.1rem 0.5rem;
  border-radius: 0 0 0.3rem 0;
  text-align: center;
  background-color: $primary;
  color: white;
}
.player-slide-item:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.05);
}
</style>
