<template>
  <div>
    <v-list>
      <TransfersListItem v-for="(transfer, index) in transfers" :key="index" :transfer="transfer" />
    </v-list>
  </div>
</template>

<script>
import TransfersListItem from '@/components/football/players/utils/TransfersListItem.vue'

export default {
  name: 'TransfersList',
  components: { TransfersListItem },
  props: { transfers: Array }
}
</script>

<style lang="scss" scoped>

</style>
