<template>
  <div class="transfer-grid">
    <TransferCard v-for="(transfer, index) in transferList" :key="index" :transfer='transfer' />
  </div>
</template>

<script>
import TransferCard from '@/components/football/players/utils/TransferCard.vue'

export default {
  name: 'TransferGrid',
  components: { TransferCard },
  props: {
    transferList: Array
  }
}
</script>

<style lang="scss" scoped>
.transfer-grid {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
</style>
