<template>
  <v-app>
    <NavigationHandler />
    <v-main class="main">
      <v-container fluid>
        <v-alert
          v-model="mock"
          class="alerta"
          text
          outlined
          type="warning"
          border="left"
          icon="mdi-alert-outline"
          transition="scale-transition"
        >
          <v-row
            align="center"
            no-gutters
          >
            <v-col class="grow">
              {{$t('mock.message')}}
            </v-col>
            <v-col class="shrink">
              <v-btn
                @click="mock = false"
                color="warning"
                outlined
              >
                {{$t('mock.button')}}
              </v-btn>
            </v-col>
          </v-row>
        </v-alert>
        <v-alert
          v-model="production"
          class="alerta"
          text
          outlined
          type="warning"
          border="left"
          icon="mdi-alert-outline"
          transition="scale-transition"
        >
          <v-row
            align="center"
            no-gutters
          >
            <v-col class="grow">
              {{$t('request.message')}}
            </v-col>
            <v-col class="shrink">
              <v-btn
                @click="production = false"
                color="warning"
                outlined
              >
                {{$t('request.button')}}
              </v-btn>
            </v-col>
          </v-row>
        </v-alert>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import NavigationHandler from './components/navigation/NavigationHandler'

export default {
  name: 'App',
  components: {
    NavigationHandler
  },
  data: () => ({
    mock: false,
    production: false
  }),
  mounted () {
    if (process.env.NODE_ENV === 'mock') {
      this.mock = true
    } else if (process.env.NODE_ENV === 'production') {
      this.production = true
    } else {
      this.mock = false
      this.production = false
    }
  }
}
</script>

<style lang="scss" scoped>
.main{
  background-color: $bgColor;
  // width: 70%;
  // align-self: center;
}
.alerta{
  margin: 1rem;
}
</style>
