<template>
  <v-card>
    <v-img
      height="250"
      :src="data.image"
    ></v-img>
    <v-card-title>{{data.title}}</v-card-title>
    <v-card-subtitle>
      <a href="mailto:${data.mail}">{{data.subtitle}}</a>
    </v-card-subtitle>
    <v-card-text>{{data.text}}</v-card-text>
  </v-card>
</template>
<script>
export default {
  name: 'Card',
  props: { data: Object },
  computed: {},
  data: function () {
    return {}
  }
}
</script>
<style scoped lang="scss">
  .card{
    v-card-subtittle{
      color: $mainColor;
    }
  }
</style>
