<template>
  <div class="country-container">
    <img class="flag" :src="country.name == 'World' ? world : country.flag">
    <p @click="routeTo(`/countries/${country.name}`)" class="name"> {{country.name}} </p>
  </div>
</template>

<script>
export default {
  name: 'Country',
  props: { country: Object },
  data: () => ({
    world: 'http://upload.wikimedia.org/wikipedia/commons/d/d4/World_Flag_%282004%29.svg'
  }),
  methods: {
    routeTo (route) {
      if (this.$route.path !== route) {
        this.$router.push(route)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.country-container {
  display: flex;
  align-items: center;

  .name {
    text-align: center;
    margin: 0;
  }
  .name:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .flag {
    margin: auto 1rem auto 0;
    height: 1rem;
    width: auto;
  }
}
</style>
