<template>
  <div class="card" v-bind:class="{ 'card--right' : right }">
    <img height="250" :src="info.img"><img>
    <div class="info">
      <h1 class="info--tittle">{{info.name}}</h1>
      <h5 class="info--subtittle">
        <a :href="`mailto:` + info.email">{{info.email}}</a>
      </h5>
      <p class="info--text">{{info.bio}}</p>
    </div>
  </div>

</template>
<script>
export default {
  name: 'HorizontalCard',
  props: {
    right: Boolean(false)
  },
  data: () => ({
    info: {
      img: 'https://image.freepik.com/vector-gratis/icono-perfil-avatar-mujer-dibujos-animados-web_48369-13696.jpg',
      name: 'Eduardo González García',
      email: 'eduglzg@gmail.com',
      bio: 'Al oeste en Filadelfia, crecía y vivía sin hacer mucho caso a la policía jugaba al basket sin cansarme demasiado porque por las noches me sacaba el graduado cierto día jugando al basket con amigos unos tipos del barrio me metieron en un lío y mi madre me decía una y otra vez ¡con tu tío y con tu tía irás a Bel Air!'
    }
  })
}
</script>
<style lang="scss" scoped>
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald&display=swap');

  .card{
    display: flex;
    max-width: 50vw;
    max-height: 300px;
    &--right{
      flex-direction: row-reverse;
    }
    img{
      margin: 1vw;
    }
    .info{
      margin: 1vw;
      height: 250;
      &--tittle{
        margin: 0;
        font-family: 'Oswald', sans-serif !important;
        text-transform: uppercase;
        text-justify:auto;
        color: #F26D6D;
      }
      &--subtittle{
        float: left;
        font-family: 'Oswald', sans-serif !important;
        a{
          color: #F26D6D;
        }
      }
      &--text{
        margin: 0;
        float: left;
        text-align: justify;
        text-justify: auto;
        text-overflow: clip;
        font-family: 'Merriweather', serif !important;
      }
    }
  }
</style>
