<template>
  <div>
    <v-list>
      <TrophieListItem v-for="(trophie, index) in trophies" :key="index" :trophie="trophie" />
    </v-list>
  </div>
</template>

<script>
import TrophieListItem from '@/components/football/trophies/utils/TrophieListItem.vue'

export default {
  name: 'TrophieList',
  components: { TrophieListItem },
  props: { trophies: Array }
}
</script>

<style lang="scss" scoped>

</style>
