<template>
<v-card class="table-card">
  <v-data-table
  :headers="headers"
  :items="trophies"
></v-data-table>
</v-card>
</template>

<script>
export default {
  name: 'TrophieTable',
  props: {
    trophies: Array
  },
  data: () => ({
    headers: [
      {
        text: 'League',
        align: 'start',
        sortable: false,
        value: 'league'
      },
      // TODO Meter los nombres de las headers por i18n
      { text: 'Country', value: 'country' },
      { text: 'Season', value: 'season' },
      { text: 'Place', value: 'place' }
    ]
  })
}
</script>

<style lang="scss" scoped>
.table-card{
  margin: 1rem;
}
</style>
